[2018-11-28 16:38] iinus commented on #433
[yaracpp-project-build-out.log](https://github.com/avast-tl/retdec/files/2625759/yaracpp-project-build-out.log)
[yaracpp-project-build-err.log](https://github.com/avast-tl/retdec/files/2625761/yaracpp-project-build-err.log)

[2018-11-28 16:43] s3rvac commented on #433
Thank you. From `yaracpp-project-build-err.log`, it seems to be the same error as in #425. Could you please try [this approach](https://github.com/avast-tl/retdec/issues/425#issuecomment-435698129) to see whether it fixes the problem for you?

[2018-11-29 10:42] iinus commented on #433
Thank you, it worked!

[2018-11-29 11:21] s3rvac commented on #433
Great :+1:

[2018-11-29 11:21] #433 closed

[2018-11-29 12:59] E4ck opened #434 "Decompilation via IDA plugin fails with "FileNotFoundError: The system cannot find the file specified""
launch_process(F:\Python37\python.exe "F:\retdec-3.2\scripts\retdec-decompiler.py" "F:\baby_mips" --config="F:\baby_mips.idb.json" --color-for-ida -o "F:\baby_mips.c" --select-decode-only --select-ranges="0x4106b0-0x410757") failed with error code 1

If you can give me an email address, I can send the binary to you. thanks

[2018-11-29 13:01] E4ck commented on #434
After confirming this error, another prompt will pop up: Loading of output C file FAILED.

[2018-11-29 13:03] E4ck commented on #434
After confirming this error, another prompt will pop up: Loading of output C file FAILED.

I am using these versions:
ida: 7.0
python: 3.7.1

[2018-11-29 14:19] PeterMatula commented on #434
Few questions:
- Are you using RetDec IDA plugin?
- You have focus in some function and trigger the decompilation?
- Are you able to decompile some function from some other binary via IDA plugin?
- Are you able to decompile some other function from this binary (`F:\baby_mips`) via IDA plugin?
- Are you able to decompile some other binary via `retdec-decompiler.py` (not IDA plugin)?
- Are you able

[2018-11-30 05:34] E4ck commented on #434
Hi, thank you for your reply, I have sent the binary to your mailbox.
For your question: I am having this problem when using retdec-idaplugin. I tried several binary files and I encountered this problem, and it is the same situation to disassemble any function with Ctrl+D.
So, I guess what is wrong with my installation operation, this is my environment variable:
F:\retdec-3.2\scripts\
F:\Python37\

[2018-11-30 05:52] E4ck commented on #434
I forgot to say that under Windows I will use retdec-decompiler.py to decompile baby_mips and report an error.
##### Checking if file is a Mach-O Universal static library...
Traceback (most recent call last):
  File "F:\retdec-3.2\scripts\retdec-decompiler.py", line 1275, in <module>
    sys.exit(decompiler.decompile())
  File "F:\retdec-3.2\scripts\retdec-decompiler.py", line 653, in decompile

[2018-11-30 06:00] E4ck commented on #434
Hi, thank you for your reply, I have sent the binary to your mailbox.

For your question: I am having this problem when using retdec-idaplugin. I tried several binary files and I encountered this problem, and it is the same situation to disassemble any function with Ctrl+D.

So, I guess what is wrong with my installation operation, this is my environment variable:

F:\retdec-3.2\scripts

F:\Python

[2018-11-30 07:20] s3rvac commented on #434
Based on this line from the output you have posted
[code]
it seems to me that your are trying to run RetDec from its source directory. You need to install RetDec and run it from this installed directory (e.g. `F:\retdec-3.2-install\bin\retdec-decompiler.py`). On Windows, your can download, unpack, and use [this release](https://github.com/avast-tl/retdec/releases/download/v3.2/retdec-v3.2-windows-

[2018-11-30 08:08] E4ck commented on #434
Thank you for your answer, but I tried to download retdec-v3.2-windows-64b.zip before, no success, google chrome shows failure - has been banned, is github have permission settings?

[2018-11-30 09:09] s3rvac commented on #434
No idea. We have no problems with downloading it via Chrome. Also, VirusTotal shows no AV detections ([URL](https://www.virustotal.com/#/url/1cbdf91ae6c57c73f9e88cb10b0d8e801c0f3058d24d4a725443b257ad238be7/detection), [archive](https://www.virustotal.com/#/file/8f66cd4ae4200dc8c2d7aa12891f00299ba35ac6c3adf33ac23243af1498d1de/detection)), so I see no reason why it should not work. Could you try ano

[2018-12-01 03:31] RyanDwyer opened #435 "Can I supply symbol information?"
Hi,

My image is bytecode extracted from a video game ROM, which uses global variables with fixed memory addresses and has known C structs.

If possible, I would like to add my own symbol information so the resulting C file is more readable. Specifically, I would like to:

* Define a map of memory addresses and function names, so retdec can name my functions according to my list rather than `funct

[2018-12-01 11:59] fesc2000 opened #436 "decompile fails with: Global variable initializer type does not match global variable type"
The mentioned error happens during
...
Running phase: Assembly Writer ( 14.24s )

There are several references to this error in https://github.com/ldc-developers. Could this come from outdated llvm code?

[log.txt](https://github.com/avast-tl/retdec/files/2635834/log.txt)

[2018-12-01 12:32] fesc2000 commented on #436
Here it comes:

[ci.zip](https://github.com/avast-tl/retdec/files/2635860/ci.zip)

[2018-12-01 12:58] s3rvac commented on #436
Thank you for the report. I can confirm that there is indeed an issue when decompiling the file you have attached. On the current `master`, the debug version of RetDec fails with the following error:
[code]
@PeterMatula, could you please take a look?

[2018-12-03 02:36] E4ck commented on #434
Thank you, I solved my problem according to your suggestion.

[2018-12-03 06:48] #434 closed

[2018-12-05 08:57] s3rvac commented on #413
This is off-topic, but please know that we need to be able to handle both valid and malformed PE files as we have our use cases for that. At the very least, `retdec-fileinfo` should not crash. Preferably though, `retdec-fileinfo` should detect that the input file is malformed.

[2018-12-05 12:00] kiritowch opened #437 "Decompiling is incomplete？"
The function I want to decompilate is relatively large, but retdec only decompilates one of the very small "if" branches, and all the other branches are ignored. Is it my problem? What did I do wrong?
There should be at least a few hundred lines, but retdec output is only a dozen lines

[2018-12-05 12:06] kiritowch commented on #437
I'm using the IDA plug-in. This is the IDA generated script.

[RetDec info]   :	Decompilation command: "C:\min\retdec-7.0\retdec\bin\retdec-decompiler.py"
"C:\Users\wch\Desktop\1984"
--config="C:\Users\wch\Desktop\1984_081014.idb.json"
-m
raw

-a
powerpc

-e
big

--raw-entry-point
0x600000

--raw-section-vma
0x600000

--color-for-ida
-o
"C:\Users\wch\Desktop\1984.c"
--select-decode-only
--select-r

[2018-12-05 16:48] metagame0x opened #438 "Build From Src"
Is there a way to build from source without having access to internet?  I would like to build on an Ubuntu box that does not have internet access.
Getting build errors related to:

using src ='https://github.com/avast-tl/llvm/archive/725d0cee133c6ab9...zip'

[2018-12-06 12:48] s3rvac commented on #438
Hi. This is currently not possible. For more details, see #412.

[2018-12-06 12:52] s3rvac commented on #437
Hi. Could you please attach the input binary that you are trying to decompile (`C:\Users\wch\Desktop\1984`)? You can zip it and upload it here.

[2018-12-06 13:12] kiritowch commented on #437
The original binary program was relatively large, about 144MB, which was a vxworks program. IDA could not recognize the functions after loading. I wrote an idapython program through the symbol table in vxworks, and IDA successfully identified all the functions.
In addition, I removed the "--config" parameter and ran it directly through retdec script, and the result was the same. I felt that there

[2018-12-06 13:15] s3rvac commented on #437
Thank you. @PeterMatula, could you please take a look?

[2018-12-06 13:19] kiritowch commented on #437
I don't know if there is a problem due to partial decompilation. The binary file is too large for me to decompile completely

[2018-12-06 22:58] bmourit commented on #437
FWIW I noticed this can happen if the function references external undefined symbols that retdec cannot resolve. IDA creates a pseudo segment for these symbols and assigns them a fake address within the fake segment that it uses for resolution. I don't think retdec does this yet. This can also happen If the binary has any relocations that retdec can't resolve.

[2018-12-07 05:46] TheDiamondPicks commented on #268
Any updates regarding this?

[2018-12-10 23:06] AlexanderOMara opened #439 "Fails to build with Xcode 10 on macOS Mojave, openssl and yaracpp issue"
I've been trying to get this to build with Xcode 10 on macOS Mojave, but it seems to be running into trouble with 2 of the dependencies.

[code]

...

[code]

Attached are the log files detailing the errors.

[openssl-build-err.log](https://github.com/avast-tl/retdec/files/2665301/openssl-build-err.log)
[yaracpp-project-build-err.log](https://github.com/avast-tl/retdec/files/2665302/yaracpp-projec

[2018-12-13 21:22] AlexanderOMara commented on #439
I  definitely had the CLI tools installed, and also tried reinstalling them just to be sure. Setting up Homebrew OpenSSL does get around the OpenSSL build failure:

[code]

But it still fails on yaracpp:

[code]

[2018-12-14 08:47] falki147 opened #441 "Fails to build when path to Python contains spaces"
I tried to build the project but it failed when trying to run Python scripts while installing with CMake. The scripts [cmake/install-external.cmake](https://github.com/avast-tl/retdec/blob/8e65c05a765c0fe3d6c38e8255f39b8d8cb3a61d/cmake/install-external.cmake#L4) and [deps/yaracpp/CMakeLists.txt](https://github.com/avast-tl/retdec/blob/8e65c05a765c0fe3d6c38e8255f39b8d8cb3a61d/deps/yaracpp/CMakeList

[2018-12-15 00:11] Piruzzolo commented on #26
also [here](http://web.archive.org/web/20020208214155/http://developer.apple.com/techpubs/mac/runtimehtml/RTArch-89.html), the complete documentation about the format

[2018-12-17 13:05] s3rvac commented on #439
@AlexanderOMara Can you please attach the output from `/Users/user/Software/RetDec/0.7/retdec-master/build/external/src/yaracpp-project-build/deps/yara/src/yara/config.log`? It will contain more details why the `yaracpp` build failed.

[2018-12-17 22:59] AlexanderOMara commented on #439
Attached:

[config.log](https://github.com/avast-tl/retdec/files/2688170/config.log)

[2018-12-17 23:03] nihilus commented on #393
I see that you handle unaligned stores (swr/swl) but not unaligned loads (ldl/ldr). It is pretty common in code and would definitely break the decompilation. Any thought on fixing it with an instrincis or something like that?

[2018-12-19 02:21] Convery opened #444 "LOG_TIMEOUT results in arbitrary termination on Windows."
Simply put. LLVMIR2HLL is terminated after LOG_TIMEOUT (retdec-config.py) seconds.
So setting the value to 10 makes the decompilation fail shortly after starting.

Windows 7 Ultimate x64, 96GB RAM.

[2018-12-19 07:48] s3rvac commented on #444
Hi. `LOG_TIMEOUT` is an internal setting that is used only when running `retdec-decompiler.py` with `--generate-log`, which itself is an internal parameter that should NOT be used by end users (it is not listed when running `retdec-decompiler.py --help`). Do you use this parameter? If so, simply stop using it an everything should be fine.

[2018-12-20 17:39] s3rvac commented on #439
Are you sure that the `yara-retdec` build has passed? It should have failed for the following two reasons: (1) `yara-retdec` is based on `yara-3.6.3`, whose build has failed, and (2) in your original report, `yaracpp` build has failed because of a YARA build failure (`yara-retdec`). Can you please verify?

[2018-12-20 17:48] AlexanderOMara commented on #439
I thought that was strange too, but I just tested it again, and it passed.

[2018-12-20 17:54] AlexanderOMara commented on #439
@bmourit I just tried `brew remove binutils` but it still failed in the same way.

[2018-12-20 18:13] s3rvac commented on #439
Alright. Could I ask you to do one final test?
[code]
That `ea101c5` commit is the one that is actually used by `yaracpp` in RetDec at the moment. The build should fail. If it succeeds, then there is something fishy going on.

[2018-12-20 18:21] AlexanderOMara commented on #439
I guess something fishy is going on, because that passed too.

[2018-12-20 18:36] s3rvac commented on #439
@metthal Do you have an idea what might be going on here?

[2018-12-20 23:41] nihilus commented on #393
Feel free to check this as it is based on Capstone as well: https://github.com/nihilus/snowman/tree/master/src/nc/arch/mips

[2018-12-20 23:44] nihilus commented on #393
For binaries to test agains use https://github.com/nihilus/snowman-tests

[2018-12-21 04:33] bmourit commented on #439
Hmm.. odd. I had an issue with those exact same external projects (yaracpp and openssl). I'm trying to remember exactly what I did to fix it. There was something to do with my $PATH as well. I'll see if I can dig around some more to refresh my memory.

[2018-12-21 05:02] bmourit commented on #439
@AlexanderOMara
What's your output of the following:
which -a ar
which -a ranlib

[2018-12-21 05:04] AlexanderOMara commented on #439
[code]

[2018-12-21 05:44] bmourit commented on #439
Try this:
brew install make
Once installed, add it to your $PATH and try building again. Also, do you have coreutils installed? I didn't see it in your config file, but its another difference in our configs (I have it installed).
See if that helps anything.

[2018-12-21 10:44] Convery commented on #444
As in, the script fails after 300 on windows regardless of the actual status if it's not changed. Which, when working on binaries with a PDB attached, will always fail as it takes too long to analyse ( https://i.imgur.com/mVPiyus.png ). Sidenote; the windows versions doesn't print any output (the stages) until it terminates.

[2018-12-21 19:36] ClareMiller opened #445 "Error: Option -a|--arch must be used with format ihex"
When I attempt to use the retdec-decompiler.py I get the following:

C:\Users\c.miller\Desktop>py -3 retdec/bin/retdec-decompiler.py 78333865D_09_14_16.hex
##### Checking if file is a Mach-O Universal static library...
##### Checking if file is an archive...
RUN: C:\Users\c.miller\Desktop\retdec\bin\retdec-ar-extractor C:\Users\c.miller\Desktop\78333865D_09_14_16.hex --arch-magic
Not an archive, g

[2018-12-21 20:00] #445 closed

[2018-12-21 21:21] s3rvac commented on #445
Hi. Unlike ELF, PE, and Mach-O, there is no way of automatically detecting the architecture from files in the Intel HEX format. Thus, when decompiling Intel HEX files, you need to specify the architecture manually via `-a/--arch`.

[2018-12-22 08:06] s3rvac commented on #444
Could you please provide the following information so we can try to reproduce the issue?
1. Attach the input file that you are trying to decompile. You can ZIP it and upload here.
2. What command do you use to decompile the file?
3. Which version of RetDec do you use? E.g. release 3.2 (64b) or a custom build.

[2018-12-22 18:58] Karaulov opened #446 "How to download latest build?"
https://ci.appveyor.com/project/avast-tl/retdec/branch/master/artifacts

is empty
"The build job does not contain any artifacts."

[2018-12-23 03:12] Karaulov commented on #446
@s3rvac thanks:)
no for windows-32bit executables ???

(for test with 32bit application)

[2018-12-23 07:35] s3rvac commented on #446
In TeamCity on Windows, we only build RetDec to run on 64b Windows. If you still use 32b Windows, you have the following two options:
1. Download the latest stable build ([v3.2](https://github.com/avast-tl/retdec/releases/tag/v3.2)). We provide both 32b and 64b builds for stable releases.
2. [Build and install](https://github.com/avast-tl/retdec#build-and-installation) RetDec from sources (require

[2018-12-24 04:37] Karaulov opened #447 "Decrease memory usage ?"
Latest build, works without error, but with warnings 'out of memory'.

Possible to decrease memory usage? (Using memory compressin/SSD disk instead of RAM/etc)

I have 4GB ram Windows 10 x64, tried to decompile small binary using 'python $RETDEC_INSTALL_DIR/bin/retdec-decompiler.py test.dll' command, got 4-5 warnings about memory

if decompiler process using more 2GB memory - wrote 'out of memory'

[2018-12-24 04:52] #447 closed

[2018-12-24 07:35] s3rvac commented on #447
Hi. Depending on the input file, RetDec sometimes requires a lot of memory to decompile it. This is a known issue (see #13, #16, #47 and other issues linked from there) and it will take a lot of time to fix.

Because there were numerous reports of users ending with a black screen after trying to decompile some files (#36, #81), we have added memory limitation to RetDec (#270). This limits the maxi

[2018-12-24 09:32] Karaulov commented on #447
@s3rvac  It works! Now process use 15GB Memory (4GB RAM, and other in page file) and no error ))

[2018-12-24 09:46] Karaulov commented on #447
@s3rvac you can help? how to got output c file more like IDA HexRays output ?

А то я получаю какой-то вырвиглазный код который по сравнению с IDA HEXRAYS просто невозможно прочитать.

[2018-12-24 11:35] s3rvac commented on #447
The quality of the decompiled code depends on many factors, including the size of the input file, the used compiler and optimizations, obfuscations, detection of statically linked code, the complexity of control flow etc. There is no single parameter that would magically make the output more readable.

If you know the original source code (or how the decompiled code should look like), you can subm

[2018-12-24 15:42] silverbacknet commented on #447
This has nothing to do with retdec vs HexRays quality, it's purely an instance of HexRays recognizing a specific Win32 convention and struct; Retdec has some capability, but if you need HexRays' full capability, well, pay for it. Retdec isn't trash, because it's actually an interpretation of the real assembly that goes into the code. Claiming ASM is more readable is a joke, and fastcall/cdecl/stdc

[2018-12-24 15:53] Karaulov commented on #447
@silverbacknet retdec is trash :(

No, I need to look at __fastcall / __stdcall, etc. This is very important for some cases :)

This is can't enable in command line ?

You see there are half lost function arguments, how can this be called decompilation?

retdec : `int32_t function_1500ed80(int32_t a1) `

hexrays : `HWND __fastcall sub_1500ED80(HWND a1, LONG a2, DWORD dwProcessId)`

@silverbacknet

[2018-12-25 09:22] Karaulov opened #448 "Add the ability to see calling conventions in the generated code"
How to fix this error ?

In "reverse engineering"/malware analysis/(_or something else_) need see calling convention, this is need for calling functions outside executable. (Analyze malware, test functions, etc...)
This is impossible without seeing calling conventions.

How to adding calling convention to output C code? (Command line, or something else?)

[2018-12-25 11:58] Karaulov opened #449 "CopyPropagationOptimizer use unreal big memory for small executable"
15GB memory for 200KB executable.... WHAT???

Example executable and source code:
[2016.zip](https://github.com/avast-tl/retdec/files/2708729/2016.zip)

Possible to fix it ?

[2018-12-25 13:04] Karaulov commented on #449
_This "decompiler" just convert asm instruction to c++ style code ?? :D

I got always 'obfuscated' code. This is not decompiler, just code obfuscator...

ASM code more readable! (i understand ASM better than decompiled code using retdec...)_

[2018-12-25 13:15] 0xBEEEF commented on #447
But I must also agree that RetDec unfortunately has very little ability to recognize "structures" and to use them. You can see it quite well in the examples above. In this respect even the "Snowman" decompiler is better. I think that RetDec could be a worthy replacement for IDA, but for that an extended analysis would have to be done and structures would also have to be recognized and assigned. If

[2018-12-25 13:46] Karaulov commented on #449
@s3rvac How can I speed up the solution to this problem?

[2018-12-25 13:53] s3rvac commented on #449
Frankly speaking, we have no idea when we will get to it, so if you really need it solved as soon as possible, your best bet is to familiarize with the source code of RetDec and start working on the issue by yourself. The whole project is openly available on GitHub.

[2018-12-25 14:01] Karaulov commented on #449
but this project very hard to build (((

[2018-12-28 11:20] madscientist159 commented on #276
Can this be worked around using IDA?  Just hit it on a relatively small static library.

[2018-12-28 16:05] minexew commented on #447
@Karaulov well why don't you contribute, genius

[2018-12-28 17:36] Karaulov commented on #447
_I can read, i can't write )))_

Looking at how this decompiler works, it cannot be make better.

[2018-12-28 21:48] minexew commented on #447
we're truly blessed to have your expertise on board

[2018-12-29 05:53] Karaulov commented on #447
@minexew This is clearly meaningless, there is no point in improving this decompiler.

I argue that the ASM code is read much easier than the one given by this decompiler.

[2019-01-01 06:47] dendisuhubdy commented on #439
This happens to me too

[2019-01-01 15:01] s3rvac commented on #383
A note for people who try to fix this issue: Removing the `-v` parameter on macOS does not represent a full solution as our scripts assume that `/usr/bin/time` is run with `-v`. Apart from other information, the `-v` parameter makes `/usr/bin/time` produce memory usage of the tracked program, which we then parse in our scripts. Without `-v`, the used memory will always be 0, which will make result

[2019-01-02 09:01] PeterMatula commented on #268
The same as before. A student is working on it. Bachelor theses are due sometimes in may, so there should be some tangible results by then.

[2019-01-02 09:21] PeterMatula commented on #393
Well, even swr/swl are translated using `translatePseudoAsmFncOp0Op1()` at the moment. Which is generating a generic pseudo call, which is not ideal. Since loads and stores are pretty important, I will add these instructions (swr/swl, ldl/ldr) to my todo list and look into it - try to write proper translation routines for them if possible.

Thanks for the links, I will look at them.

[2019-01-03 12:43] s3rvac commented on #439
@AlexanderOMara @dendisuhubdy Could you please try performing the following two builds and let us know if they pass or fail? The results will help us to determine whether the issue is in the currently used version of YARA in RetDec/yaracpp or in something else.

Note: Before you try the builds, please ensure that you have [command-line tools installed](https://github.com/frida/frida/issues/338#iss

[2019-01-03 13:55] PeterMatula commented on #393
I went over that Snowman MIPS translation and added semantics for few more MIPS instructions that we were missing. Now we should have pretty much everything that is in Snowman.

However, RetDec translates unaligned load/store instructions (`MIPS_INS_LWL, MIPS_INS_LWR, MIPS_INS_SWL, MIPS_INS_SWR, MIPS_INS_LDL, MIPS_INS_LDR, MIPS_INS_SDL, MIPS_INS_SDR`) using pseudo function calls (intrinsic-like fu

[2019-01-03 14:04] dendisuhubdy commented on #439
@s3rvac both failed, here are the build log dump on Pastebin (unlisted) https://pastebin.com/bX9r9cmf and https://pastebin.com/G6j5fQsf

[2019-01-03 14:18] olii opened #451 "Fileinfo tool reports strange section names"
`fileinfo` reports strange section names inside the unpacked binary from the original sample hash:
`4383FE67FEC6EA6E44D2C7D075B9693610817EDC68E8B2A76B2246B53B9186A1`. This seems to be related to unpacked sample only.

Objdump crashes with the following output (running with unpacked sampe):
[code]

`fileinfo` reports section names with filled with zeros with a huge size:
![image](https://user-image

[2019-01-04 09:19] s3rvac commented on #439
@dendisuhubdy Thank you. Could you please try installing SDK headers by running
[code]
and then re-trying the first yaracpp build above from scratch (from a clean directory)?

[2019-01-04 09:35] metthal commented on #439
If the step above didn't work for you, I would like to ask you (or anyone else in this thread who is having this problem) to attach to run this to build `yaracpp`:

[code]

And then run this to build upstream yara:

[code]

The first build should fail and second one should pass. Now, please attach these two files:

[code]

[2019-01-04 17:07] minexew opened #452 "Incorrect inference of stack variable size"
There are already some open issues related to decompilation quality, but I haven't seen any that targets this problem specifically.

Please consider the function below (I will try to produce a more minimal example if needed, but this has the advantage of being real-world code)

[code]

The point of pain is `lpStartupInfo` being declared as `int32_t`, while it is clearly meant to be a `struct _STAR

[2019-01-04 22:06] bmourit commented on #439
@dendisuhubdy Go to https://developer.apple.com/download/more/ and download the "Command Line Tools (macOS 10.14) for Xcode 10.1" pkg.

[2019-01-06 00:10] dendisuhubdy commented on #439
@bmourit I did that, downloaded it and installed it but honestly I do remember installing the command line tool when I installed Xcode 10.1 already. And I redid what @s3rvac told me to and it still has linking issues. Take a look

[code]

[2019-01-06 00:33] bmourit commented on #439
@dendisuhubdy what's your output of the following:
$ which -a ar
$ which -a ranlib

[2019-01-06 05:44] trippleflux opened #453 "failed to decompile function: startswith first arg must be bytes or a tuple of bytes, not str"
I am getting error
[code]
When using the lates dev build of binaryninja, [retdec_offline](https://github.com/ThisIsSecurity/retdec_offline),python 3.7.2, and self-compiled x64 windows retdec vanilla git branch.

already tried to add b infront of bytes in the startswith but still failed to invoke retdec, for example :
[code]

[2019-01-06 06:02] trippleflux opened #454 "Error: Decompilation of file ioA.c.backend.bc failed"
How to decompile attached file properly?
[ioA.zip](https://github.com/avast-tl/retdec/files/2730200/ioA.zip)

I am running self-compiled retdec x64 latest git on windows x64

Here is the log :
[code]

[2019-01-06 06:53] silverbacknet commented on #453
self.args.selected_ranges, and therefore all of its descendants, should be a string. How are you calling it?

[2019-01-06 11:33] Youlor opened #455 "Is Support visual studio 2017?"

[2019-01-06 12:36] s3rvac commented on #455
Yes. RetDec is buildable by Visual Studio 2015 Update 2 or later, which includes Visual Studio 2017. Anyway, if you encounter a problem during a build with Visual Studio 2017, please submit an issue.

[2019-01-06 12:36] #455 closed

[2019-01-06 13:23] Youlor opened #456 "visual studio 2017 build failed, get error because yaramod ?"
System: Windows 10
IDE: visual studio 2017
build: `cmake -G "Visual Studio 15 2017" ..`  ==> open `retdec.sln`  with vs2017 ==> build
errors: `build: success 47, fail 4, newer 0, skip 1`
[code]
[code]
[code]
[code]

I think yaramod is built failed, but I don't kown why.
Thanks!

[2019-01-06 14:00] s3rvac commented on #456
Hi. Could you please attach the following two log files?
[code]
They will contain the exact reason why the yaramod build has failed.

[2019-01-06 14:08] s3rvac commented on #453
Hi. I believe this is not a RetDec error as RetDec itself does not provide a Python API. I think you will have better luck when you report this issue to either Binary Ninja or retdec_offline (I am not sure which one).

[2019-01-06 14:08] #453 closed

[2019-01-06 14:09] Youlor commented on #456
Thanks, Need bison 3.0.x, I get from `https://github.com/lexxmark/winflexbison/releases`

[2019-01-06 14:11] s3rvac commented on #456
Great. Let us know if the build succeeds after you install Flex & Bison (two of the required dependencies). The list of all requirements is in [README](https://github.com/avast-tl/retdec#windows-1).

[2019-01-06 14:15] Youlor commented on #456
I installed Bison but it's version is 2.7, when I change to 3.0  build Successful. Thanks!

[2019-01-06 14:29] #456 closed, assigned to nobody

[2019-01-07 06:47] trippleflux commented on #454
Thanks for the pointer, after increasing the stack to maximum of 32 GB, finally managed to decompile completely 👍 .

[2019-01-07 06:49] trippleflux commented on #453
The log only showing as this :
[code]

Manually invoking retdec without without through the retdec_offline binaryninja plugin resulting no error :-/

[2019-01-07 07:03] s3rvac commented on #453
Are you sure that the `startswith first arg must be bytes or [..]` error that you are getting comes from RetDec? I have a reason to believe that it comes from retdec_offline and RetDec has nothing to do with this. I suggest you to submit a bug report to retdec_offline.

[2019-01-07 07:15] silverbacknet commented on #453
Yep, the error is in retdec_offline:

Popen return bytes unless text=true.

[2019-01-07 08:14] Hurdik opened #457 "ELF files LIEF vs. RetDec"
fileinfo provides lesser info on imported libraries in  ~1/20 cases than lief library.

[2019-01-07 13:38] s3rvac opened #458 "fileinfo crashes during reconstruction of .NET types"
`fileinfo` crashes during reconstruction of .NET types in the PE binary below.

## Input

Run
[code]
where `FILE` is:
* [`057CC3829D8EBA8AEBC3043EEA40AF5B05E1EB229012136B43134728E1B46D63`](https://www.virustotal.com/#/file/057cc3829d8eba8aebc3043eea40af5b05e1eb229012136b43134728e1b46d63/detection)
* [`54FB1B3D36EB3FB13A3C565A7C7A0A7E2190E0724014488DF60713F2276A379C`](https://www.virustotal.com/#/f

[2019-01-07 14:12] appleguru commented on #439
I am having the same issues.. watching this thread closely; let me know if I can help.

[2019-01-07 14:46] Youlor opened #459 "How to use retdec-bin2llvmirtool?"
How to specify input file? Thanks!

[2019-01-07 14:52] metthal commented on #439
You can what I mentioned in this [comment](https://github.com/avast-tl/retdec/issues/439#issuecomment-451395960). It would help us with finding differences between direct build of `yara` and build through CMake in `yaracpp`.

[2019-01-07 16:06] s3rvac commented on #459
Hi. As you can see [in our README](https://github.com/avast-tl/retdec#installation-and-use), files should be decompiled via `retdec-decompiler.py`:
[code]
This script runs all the necessary tools for you. One of these tools is `retdec-bin2llvmir`. So, you should not use `retdec-bin2llvmir` directly. Use `retdec-decompiler.py` instead.

[2019-01-07 16:06] #459 closed

[2019-01-07 17:13] dendisuhubdy commented on #439
@bmourit
[code]

[2019-01-07 19:10] nihilus commented on #393
It would be good to translate the pairs to a pseudo-function like "ulw" / "usw" for clarity and then implement that to start with.

[2019-01-07 21:35] appleguru commented on #439
I don't even get far enough to have the build logs you're looking for. I get a libtoolize error in both cases:

yaracpp:

`[ 42%] Performing configure-linux step for 'yara'
Can't exec "libtoolize": No such file or directory at /usr/local/share/autoconf/Autom4te/FileUtils.pm line 345, <GEN2> line 4.
autoreconf: failed to run libtoolize: No such file or directory
autoreconf: libtoolize is needed bec

[2019-01-07 23:41] appleguru commented on #439
I added a symlink to glibtoolize to hack around that error...
`sudo ln -s /usr/local/bin/glibtoolize /usr/local/bin/libtoolize`

Two build logs attached as requested.
[config.log](https://github.com/avast-tl/retdec/files/2734678/config.log)
[config-yaracpp.log](https://github.com/avast-tl/retdec/files/2734679/config-yaracpp.log)

[2019-01-08 00:07] appleguru commented on #439
Ok, success... The workaround above to install the SDK headers seems to have worked. Note, these are apparently not installed as part of the command line tools normally, which I had installed already.

[code]

[2019-01-08 11:40] bmourit commented on #439
@dendisuhubdy
Yes, as mentioned above, your path was finding the homebrew versions of ar and ranlib before the xcode ones. The code was building with xcode, but failing during ar and ranlib due to incompatibility with apple versions. Installing the SDK headers will fix this again.

[2019-01-08 11:42] metthal commented on #439
Thank you @appleguru for the files.

I have prepared branch `macos-build` in [yaracpp repo](https://github.com/avast-tl/yaracpp) where we tried to set `sysroot` of compiler to macOS SDK when configuring yara. It would be really helpful if you or anyone else tried to compile it **WITHOUT** installed SDK headers.

[code]

[2019-01-08 11:58] dendisuhubdy commented on #439
@bmourit hmm weird ok thanks! Lemme add the correct Xcode versions of ranlib and ar

[2019-01-09 01:56] jkbenaim commented on #431
I ran into this bug too. My file started with a few kilobytes of padding zeroes. I was able to work around the problem by replacing the zeroes with random bytes.

[2019-01-09 11:32] s3rvac opened #460 "fileinfo produces import-table hash of the empty string from a PE binary with imports"
`fileinfo` produces import-table hash of the empty string from a PE binary with imports.

## Input

Run
[code]
where `FILE` is:
* [`000B1F22029C979C27C7310712CAE66B8ADE37378023487277AD7C86D59A34F6`](https://www.virustotal.com/#/file/000B1F22029C979C27C7310712CAE66B8ADE37378023487277AD7C86D59A34F6/detection)

## Output

[code]

## Expected output

If there are 127 imports, why are the MD5 and SHA25

[2019-01-10 07:18] s3rvac opened #461 "Add computation of hashes of PE files excluding their overlay"
At present, `retdec-fileinfo` computes hashes of the whole file:
[code]
In terms of PE files, this also includes overlay (provided that the file has an overlay). It might be useful to also compute hashes of PE files excluding overlay. Thus, two files that only differ by their overlay would have the same hash. This could be used to detect whether two files are identical except for their overlay.

[2019-01-10 18:46] yokoalmera opened #462 "Decompilation Failed"
My setup:
windows 10, 16gb ram.

What i did:
I try to decompile .so file , file size is 6.3kb.

command:
`path_to_python_3\python.exe retdec-decompiler.py --no-memory-limit path_to_so\libwhatsappx86.so`

What I got:
`Error: Decompilation of file C:\Users\rache\OneDrive\Desktop\retdec_whatsapp_chek\libwhatsappx86.so.c.backend.bc failed`

Full log:
(It's large so I use pastebin for it)
`https://past

[2019-01-11 05:44] s3rvac commented on #462
Thank you for the report. Could you please attach the input file so we can try to reproduce this issue? I believe that it is caused by insufficient space on the stack, similarly as #454 and #47, but I will need the input file to verify.

[2019-01-11 07:15] yokoalmera commented on #462
link for file:

`https://ufile.io/2diak`

I have 16gb of ram it's kind of a lot, If the program needs more then this (and the page swap mechanizem canno't be used) maybe it will be a good Idea to:

1. add option to decompile only 1 function or a few function by name (base on ida generated name)
2. add option to work on ida db instead of on the orig .so /.elf/ .exe etc. maybe in this way we will ne

[2019-01-14 07:44] ladislav-zezula opened #463 "fileinfo: Corruption check needs to distinguish between "file is cut" and "file is cut, but executable""
Under some circumstances, a cut PE file might be still executable.

Examples:
82b82208e35402e11a68766f057cfdcabf5cd97c73ee5eeaa008548095597865 (32-bit)
8713f9a10a9e859b245031474acf770d719aab1f8cea1d957af41dea08019bc6 (64-bit)

Both these files were cut but are still loadable and executable, because the last PE section has physical size of 0.

We need a new class for file corruption: LDR_ERROR_FILE

[2019-01-14 12:30] spaceone opened #464 "how much free space is required?"
Hello,
could you add to the README how much disk space retdec uses? When doing "make install" it seems it downloads more than 3GB. My disk is full and I would like to know how much I have to clear.

[2019-01-14 19:19] spaceone opened #465 "Error: Decompilation of file foo.c.backend.bc failed in phase "signed/unsigned types fixing""
Hello, i am having the following failure:
[code]

What else information can I provide? And where?

[2019-01-14 20:17] silverbacknet commented on #465
First verify that you're not just running out of memory; try the --no-memory-limit parameter. If decompilation gets further, then you just have to wait for memory optimizations (or disable the memory limit and hope for the best).

All retdec logs should be in the retdec folder in your Documents.

[2019-01-14 22:35] spaceone commented on #465
Thanks, will have a look. I had 5 GB free memory, I logged it because it prior crashed with the same error as Issue #232.

[2019-01-14 22:37] spaceone commented on #465
Can i continue the execution at the step where it stopped/crashed (as it takes very long to get to that state)?

[2019-01-14 22:39] spaceone commented on #465
I can't find any log files. The only files are:
[code]

[2019-01-14 23:58] spaceone commented on #465
Okay, I got the same fail with `--no-memory-limit`.

[2019-01-15 00:10] nihilus commented on #140
Even standard printf()-functions get incorrectly decompiled for MIPS. Any clues?

[2019-01-15 00:12] nihilus commented on #435
You could convert it to an ELF, load it in IDA Pro and use the dwarf exporter plugin.

[2019-01-15 02:56] speachy commented on #392
xburst is stock mips32r1 (or mips32r2) plus proprietary DSP/SIMD extensions.  I do not know if the executable in question utilizes anything that isn't bog-standard mips32.

But be that as it may, one would think if retdec ran into an unknown (ie xburst-specific) instruction it would fail to decode the instruction and complain loudly at that point, rather than silently generate illegal LLVM IR?  Ei

[2019-01-16 09:05] s3rvac commented on #465
Thank you for the report. This issue is a duplicate of #454, where you can find more details.

[2019-01-16 09:05] #465 closed

[2019-01-16 18:17] FrintoSec opened #466 "Linking of retdec-bin2llvmir fails on Kali Linux due to undefined references in demangler"
When I try to build RetDec on Kali, I get this error:

[code]

I have zero experience with ld error handling, so I can really use some help right now...

[2019-01-17 09:56] s3rvac commented on #463
Implemented by @ladislav-zezula in https://github.com/avast-tl/pelib/pull/5 (tests are in https://github.com/avast-tl/retdec-regression-tests/pull/16). Incorporated into RetDec in 5badadbdd2ab5e0e33a6fc3b1a782e42c8576e88.

[2019-01-17 09:56] #463 closed

[2019-01-17 14:11] spaceone commented on #454
Okay, thanks! You might want to add a information about this in case it fails? And maybe additionally a cli option `--no-stack-memory-limit` ?

[2019-01-17 15:31] spaceone commented on #403
I think I hit this issue, too (or #144).
[code]

I wonder why there is no stack trace displayed in my case?
My input file is only 800kb and it still crashes with having 8GB RAM?

[2019-01-17 18:43] FrintoSec commented on #466
Hey, I got it to work. I just removed the build directory and restarted from scratch. Thanks for the trying to help!

[2019-01-17 23:49] lanatmwan opened #467 "retdec-v3.2-windows-32b.zip Getting flagged by Win 10 Defender as having a trojan"
I see that this was an issue the last version but 6 months later it is still getting flagged:

Trojan:Win32/Azden.A!cl
Category: Trojan

[2019-01-18 04:09] s3rvac commented on #466
Then I am not sure what has caused this (I have never seen that error before when building RetDec). Maybe CMake has somehow ordered the linking dependencies in an incorrect order. Anyway, I am glad that the build has succeeded for you.

[2019-01-18 04:09] #466 closed

[2019-01-18 07:17] s3rvac commented on #467
We have reported this issue to Microsoft. The file that is getting detected is `retdec-pat2yara.exe`, just like in #359, only 3.2 is a newer release.

[2019-01-18 09:39] s3rvac commented on #467
Microsoft has replied:

I have verified on VirusTotal that Microsoft tags it as _clean_.

[2019-01-18 09:39] #467 closed

[2019-01-18 11:05] PeterMatula commented on #457
Solved by https://github.com/avast-tl/retdec/pull/468.

**Note:** We received a list of test sample hashes (cca 23000) and scripts to compare the outputs of LIEF and RetDec (needed dynamic libs and imported functions). Oftentimes LIEF provided more info. After changes in the referenced PR, RetDec is not missing any information compared to LIEF in the tested samples - it is at least as good as LIEF

[2019-01-18 11:05] #457 closed

[2019-01-19 08:15] s3rvac opened #469 "Digitally sign binaries in our Windows releases to reduce the likelihood of them being falsely detected by anti-viruses"
We should consider digital signing of our binaries in Windows releases to reduce the likelihood of them being falsely detected by anti-viruses (see #359, #467).

[2019-01-21 06:25] #444 closed, assigned to nobody

[2019-01-21 08:25] Chokoabigail opened #470 "Decompilation problems"
I try to decompile some function in .so file the outher day.
There was a severe difference between RetDec to IDA HexRays (in favor of IDA).
Decompilation didn't recognized the actual function, erased some necessary parts etc.

My q. is:
1. Is there a way to "fix" the decompiled version manually? (Like Ida that allow you to add the function prototype and to change variable names etc.)
2. Is there a

[2019-01-21 13:11] s3rvac opened #471 "Print an explanatory error message when retdec-llvmir2hll fails due to insufficient stack space"
We should try to see whether we could print an explanatory message when `retdec-llvmir2hll` fails due to insufficient space on the stack (see e.g. #47, #403, #454). We could display an explanation including possible workarounds. The hardest part would be to distinguish not-enough-space-on-the-stack errors from other ones.

Suggested in https://github.com/avast-tl/retdec/issues/454#issuecomment-455

[2019-01-21 13:23] s3rvac commented on #454
@spaceone I have created a separate issue for adding such an explanatory error message: #471. As for the `--no-stack-memory-limit` option, that would be implementable on Linux, but to my understanding, on Windows, there is no way of changing the stack size in runtime (it is only possible to set it during build, which is what we do [here](https://github.com/avast-tl/retdec/blob/9ef11c96d278dc255412

[2019-01-21 14:18] spaceone commented on #454
@s3rvac Allright, thanks :-)

[2019-01-22 12:47] s3rvac commented on #403
@spaceone Thank you for the file. Here is a reaction to your questions:

I am not sure. I have tried to decompile the file with both Release and Debug version of RetDec and it has printed a stack trace in both cases.

Unfortunately, yes. The decompilation indeed fails because of insufficient stack space as `valgrind` reports
[code]
There may also be an infinite loop. We will have to verify when we

[2019-01-22 12:48] spaceone commented on #403
Okay, thank you very much, also for you email reply!

[2019-01-26 18:55] PGAnonamous opened #472 "retdec-bin2pat fails with "FileNotFoundError: The filename or extension is too long""
I am attempting to create a yara signature from the open-source ps2sdk through the retdec-signature-from-library-creator.py script. Upon running it I receive the error

FileNotFoundError: [WinError 206] The filename or extension is too long

Upon modifying retdec-utils.py to print out the arguments being passed to retdec-bin2pat.exe I can see that it is indeed too long. After copying the command i

[2019-01-27 02:25] leftmostcat opened #473 "bin2pat does not exit non-zero on failure"
The `signature-from-library-creator.py` script expects a non-zero result from `bin2pat` to indicate an error condition, but `bin2pat` exits with zero even in the case of a failure. Because the output of `bin2pat` is discarded, it fails silently and the result is an empty yara file.

[2019-01-27 04:15] leftmostcat opened #475 "Pattern extractor fails on 32-bit DIrectX libs"
Attempting to run `bin2pat` on either `d3d9.lib` or `d3d9x.lib` from the 32-bit libs in the DirectX SDK (https://www.microsoft.com/en-us/download/details.aspx?id=6812) results in a failure to locate any symbols.

[2019-01-28 11:22] s3rvac commented on #473
Fixed in #474 (thanks to @leftmostcat).

[2019-01-28 11:22] #473 closed, assigned to nobody

[2019-01-28 13:53] s3rvac opened #477 "`make` prints status concerning pelib whenever CMake files get changed"
After commit e1e29f909bc3e06d89f5a76f01fbfca1f0c568d9, `make` prints status concerning pelib (and possibly cleans CMake files?) whenever CMake files get changed, even if there are no changes at all.

## Steps to reproduce

1. Go to a `build` directory and perform an initial build via `cmake ..` and `make`.
2. Run `touch ../CMakeList.txt`.
3. Run `make` again.

## Expected output

[code]

## Actual

[2019-01-28 14:12] s3rvac opened #478 "CMake rules for pelib contain an unitialized variable"
File `deps/pelib/CMakeLists.txt` contains the following piece of code:
[code]
However, the `CHANGED` variable is defined later on line
[code]
Questions:
* Can you please verify that we actually want to use an uninitialized variable there?
* Is that `BUILD_ALWAYS` part necessary? According to the comment above, it is not needed on Linux and does not work on Windows. Is it for macOS then?

[2019-01-29 16:06] #478 closed

[2019-01-29 16:08] PeterMatula commented on #478
- No, we don't want to use uninitialized variable. This must have happened as I was moving the code around.
- As the comment says, it was not working anyway. I probably only saw it used somewhere and added it just in case.

I just removed this line. It should not be worse without it.

[2019-01-30 06:09] s3rvac opened #479 "Regression tests timeout from time to time"
Some of our regression tests timeout from time to time. For an example, see [this macOS build](https://retdec-tc.avast.com/viewLog.html?buildId=1083&buildTypeId=Retdec_MacBuild&tab=buildLog). I have seen the timeouts on both macOS and Linux, but maybe this is also an issue on Windows. I strongly believe that these timeouts are caused by non-determinism in our tools (#209, #129). Instead of keeping

[2019-01-30 09:35] #477 closed

[2019-01-31 02:52] sdasgup3 opened #480 "bin2llvmir produces incorrect LLVM IR when decompiling a simple function in an object file"
Hello Team,
I am trying to decompile a simple function
[code]
using
[code]
And the output I got is
[code]

I am sure that I must be missing something. Can somebody help?
My goal is to play around with the variable recovery feature (like stack variable getting lifted to
allocas ).

[2019-01-31 06:54] s3rvac commented on #480
I was able to reproduce the issue on my system and it seems to be a bug in `bin2llvmir`. @PeterMatula, can you please verify?

[2019-01-31 16:36] #451 closed

[2019-01-31 16:44] hedger opened #481 "Unicode strings are displayed incorrectly in output for MIPS"
I have a MIPS PE executable for Windows CE6.
IDA7 correctly displays references to Unicode strings and their contents.
But, decompilation output of Retdec is unreadable. For example, IDA7:
[code]

Retdec output:

[code]

I tried changing `NKDbgPrintfW` prototype, but it didn't help. Also, VA arguments and their count are wrong, I'll probably file a separate issue about that.

[2019-01-31 17:06] PeterMatula commented on #451
@s3rvac please note this fix changes detected section names in some samples. This might be relevant for the sample clustering - if it is done based on section names themselves, or related hashes.

The old algorithm for PE section names:
1. Get 8 byte long name from section header.
2. If it is an offset to string table (i.e. `/<offset>`), read 8 bytes from this offset.
3. If there is a non-printabl

[2019-02-01 08:17] gwquk opened #482 "Build on FreeBSD clang generates warning for undefined "const""
[code]

[2019-02-01 11:01] gwquk commented on #482
If the instead of `make -j4`, I use just `make` the warning can not be reproduced.
I am still investigating but this can be put on "hold"

[2019-02-03 12:43] yuval-olshaker opened #483 "Build fails when building RetDec via CLion"
hi,

i am trying to build and work on the project.
the cmake fails with the following error:
NMAKE : fatal error U1073: don't know how to make 'external\src\llvm-project-build\Debug\lib\LLVMBitWriter.lib'
Stop.
the file is CMakeLists.txt at deps\llvm
i downloaded and installed the programs, should i install somthing related to llvm?

thanks!

[2019-02-04 06:52] s3rvac commented on #481
Thank you for the report. At present, RetDec recognizes only ASCII strings and does not try to detect/guess the encoding of non-ASCII strings. This is why you see so many `\x00` characters (zero padding in UTF-16). Nevertheless, in the future, we would definitely like to add support for non-ASCII encodings.

As for the second issue (VA arguments), this may be related to #140 (see [this](https://gi

[2019-02-04 06:58] s3rvac commented on #483
Hi! I have never seen this error before. Could you please provide the following pieces of information so we can try to reproduce the issue?
* What Windows version do you use? Also, is it 32b or 64b?
* What compiler do you use?
* How did you run `cmake` (with what arguments)?
* How did you run the build? Via `cmake --build`, opening a `.sln` file in Visual Studio, or something else?

[2019-02-04 12:32] SamDecrock commented on #454
`--no-stack-memory-limit` didn't seem to help, but prepending the command with `ulimit -s unlimited; ` helped.

[2019-02-04 13:08] s3rvac commented on #454
At present, there is no such option. There is only `--no-memory-limit`, which however only limits virtual memory, not maximal stack size.

Yes. This is the proper way of increasing stack size on Linux.

[2019-02-04 17:01] daatno opened #485 "Constants replaced by globalvariable addresses"
LLVM converts llvm::ConstantInt values to GlobalVariable addresses, and it appears to me, that I can do nothing about it. Consider the following, shortened code:
...
0x18:    r2 = memread(0x4000)
0x1C:    r3 = memread(0x4004)
0x20:    r4 = add(r2, r3)
...
Gets translated to:
int32_t v1 = *(int32_t *)0x4004 + *(int32_t *)0x4000;
which is absolutely fine, however, in another binary:
...
0x800004:

[2019-02-04 19:37] yuval-olshaker commented on #483
hi, thanks for the help!

- my windows is 64b

- i use Clion to go through the code. The compiler is from Visual Studio

- my cmake output:
"C:\Program Files\JetBrains\CLion 2018.3.3\bin\cmake\win\bin\cmake.exe" -DCMAKE_BUILD_TYPE=Debug -G "CodeBlocks - NMake Makefiles" C:\technion\retdec
-- Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the system variable OPENSSL_ROOT_DIR

[2019-02-04 21:41] yuval-olshaker commented on #483
Hi,
Thanks for the help.
it seems that when i build them in particular sequence it is much better.
now i am trying to build yaracpp and having problems:
====================[ Build | yaracpp-project | Debug ]=========================
"C:\Program Files\JetBrains\CLion 2018.3.3\bin\cmake\win\bin\cmake.exe" --build C:\technion\retdec\cmake-build-debug --target yaracpp-project --
[  0%] Performing con

[2019-02-05 07:59] s3rvac commented on #451
@PeterMatula Thank you for the fix and explanation :+1:

[2019-02-05 08:07] s3rvac commented on #483
I have a reason to believe that the failures are due to CLion. To confirm, could you please try to build RetDec **without** CLion by following these steps?
* Start `cmd.exe` (e.g. press `Windows + r` and then type `cmd.exe`).
* `cd retdec`
* `mkdir build-cmd`
* `cd build-cmd`
* `cmake .. -DCMAKE_INSTALL_PREFIX=install -G"Visual Studio 15 2017 Win64"`
* `cmake --build . --config Release -- -m`
* `c

[2019-02-05 08:35] s3rvac commented on #482
Thank you for the report! I have fixed the warning in https://github.com/avast-tl/llvm/commit/3d1e5d0bc1122a027e83f57c86851a027dd09112 and 7febc9c9bd1a0851716165950f493eab05391906.

[2019-02-05 08:35] #482 closed

[2019-02-05 09:22] Unc3nZureD opened #486 "Incorrect decompilation"
[98acc7530cf84c731ff1f42de12b6c21b1ac3778.zip](https://github.com/avast-tl/retdec/files/2831439/98acc7530cf84c731ff1f42de12b6c21b1ac3778.zip)

Decompiling the uploaded file _(password is: 'infected' and as obviously be warned that the file itself is malicious)_ gives the following decompilation:

[code]

The IDA disassembly shows the following code:
![image](https://user-images.githubusercontent.c

[2019-02-05 09:43] s3rvac commented on #486
@PeterMatula can you please verify?

[2019-02-05 09:52] s3rvac commented on #485
@PeterMatula Can you please look into this?

[2019-02-05 09:53] s3rvac commented on #475
@PeterMatula or @mbandzi: Can you please verify?

[2019-02-05 09:56] s3rvac commented on #470
@PeterMatula Can you please look into this?

[2019-02-05 10:44] Unc3nZureD commented on #486
I've just realized that it might be because as IDA shows the call function itself is not in the "scope" of WinMain, but comes right after a jump.
Just a theoretical question: Do you think it's okay like this? I mean not showing any disassembled code for the jump taken?

[2019-02-05 10:50] s3rvac commented on #486
The empty body with `return 0` that we generate seems definitely fishy. @PeterMatula will look into this and will let you know.

[2019-02-05 10:59] mbandzi commented on #475
Libraries like these sometimes appear in the Windows environment but I have no idea what is their purpose. I already researched it in the past but did not find an answer. They do not contain any legitimate object files that could be processed by `bin2pat`, only multiple files with the same name with `.dll` suffix.
[code]
Normal `ar` nor `llvm-ar` cannot even unpack these. Our `retdec-ar-extractor`

[2019-02-05 10:59] #475 closed

[2019-02-05 11:17] s3rvac commented on #401
@PeterMatula Can you please verify?

[2019-02-05 11:19] s3rvac commented on #435
@PeterMatula Can you please provide an answer? I would provide an answer on my own, but yours would probably be better in this case.

[2019-02-05 11:22] s3rvac commented on #448
The gist is that we try to abstract calling conventions when generating the C code. @PeterMatula will provide a more extensive answer.

[2019-02-05 12:29] SamDecrock opened #487 "Good refactoring tool"
Not really an issue, more a question:

Is there a good IDE to refactor/split up the generated code?

[2019-02-05 13:17] #487 closed, assigned to nobody

[2019-02-05 16:07] dberlin opened #488 "DeadLocalAssign is N^3 and doesn't need to be?"
I've worked on optimizers for many years in LLVM and GCC, but am new to retdec, so maybe I am missing something.

I am looking at speeding up retdec on large binaries, with the two easiest targets being copyprop and deadlocalassign.

Looking at dead local assignment, it iterates until the code stops changing.
On each iteration, it walks all local variables.
For each local variable, it walks all us

[2019-02-05 17:17] metthal commented on #483
What version of CMake do you have? Generator `Visual Studio 15 2017 Win64` is available since CMake 3.7 but it seems like you have older version. I would recommend you to upgrade CMake to newer version, latest release would be the best.

[2019-02-05 17:19] yuval-olshaker commented on #483
hi,
thanks. that what i saw myself, installing now version 3.13.4.
i have 3.6
do you think it might be the reason for my first problem with clion?

[2019-02-05 18:39] astrelsky opened #490 "FilesystemPath::isFile returning true on non existent file"
I noticed that each implementation of FilesystemPath::isFile returns !isDirectory. The isDirectory functions appear to check whether the path is valid or exists and returns false if it is not. This causes instances of isFile to return true when the path may not even exist.

In the docstring it states "The path doesn't have to be loaded." Does this imply that it may not exist? If this is the case t

[2019-02-05 19:55] yuval-olshaker commented on #483
about the build without clion.
the line:
cmake --build . --config Debug -- -m
fails with the output:
 "C:\technion\retdec\build-cmd\ALL_BUILD.vcxproj" (default target) (1) ->
       "C:\technion\retdec\build-cmd\src\bin2pat\retdec-bin2pat.vcxproj" (default target) (32) ->
       "C:\technion\retdec\build-cmd\src\patterngen\retdec-patterngen.vcxproj" (default target) (33) ->
       "C:\technion\ret

[2019-02-05 20:00] metthal commented on #483
I don't have a build of retdec available right now but somewhere in `C:/technion/retdec/cmake-build-debug/external/src/` should be folder related to `yaramod`. Could you please attach log file from there?

[2019-02-05 20:10] yuval-olshaker commented on #483
you refer to the build without clion? it is in the path 'C:\technion\retdec\build-cmd\deps\yaramod\'
the path you suggested is related to the original problem, with clion. i attached a log:

the file:

[yaracpp-project-configure-err.log](https://github.com/avast-tl/retdec/files/2833067/yaracpp-project-configure-err.log)

content:
CMake Error: The current CMakeCache.txt directory C:/technion/retdec

[2019-02-05 20:13] metthal commented on #483
Sorry, I just copied the path from @s3rvac's post thinking it is the same root. I meant log file from your CLion build and also from `yaramod`, not `yaracpp`. Those are 2 completely different projects.

[2019-02-05 21:34] metthal commented on #483
That's strange since it says

[code]

but I don't see anything either. Would you please also attach `yaracpp` from your command line build? Also, aren't you using some kind of terminal emulator? I see in one of your logs these two paths

[code]

The first one looks like classic Windows path but the other one seems like something that would come out of MSYS or other Linux like environment for Windo

[2019-02-05 21:44] yuval-olshaker commented on #483
attach as a zip

[yaracpp-project-stamp.zip](https://github.com/avast-tl/retdec/files/2833999/yaracpp-project-stamp.zip)

i do not recall any terminal emulator that i use, maybe the clion uses.
the second path is indeed matches the syntax of my ubuntu wsl.

i have some more questions:
i use debug cmake so i could debug the code later on?
can i build with my ubuntu (which i assume would be easier)

[2019-02-05 21:54] metthal commented on #483
According to what you have attached so far, it seems like everything built just fine. Just to make sure, are you able to build the project from command-line or not? Because to me it seems like you are.

Yes. If you use Debug configuration, you can debug the code later on.

Not sure about this. It seems like [it should be possible](https://github.com/avast-tl/retdec/issues/85) but I have never trie

[2019-02-05 22:16] metthal commented on #490
Thank you for the bug report. I see that you also fixed it yourself, so also thank you for that! Unfortunately it's in your PR about bin2pat, so I cannot merge it separately.

Just a note about your fix. I would prefer if `FilesystemPathImplWindows::isFile()` and `FilesystemPathImplUnix::isFile()` would actually check if the path is file as they should, because I think that your fix is workaround

[2019-02-06 05:50] Karaulov commented on #448
How to call functions without know calling conventions, from outside?

For example i can't inject dll with function prototype for call it from this dll if I don't know calling conventions!

This is poor decompiler and can't improved.

[2019-02-06 06:38] s3rvac opened #493 "Connect RetDec to a continuous integration service supporting FreeBSD"
At present, RetDec can be built on Windows, Linux, macOS, and (experimentally) on FreeBSD (#476). However, we have continuous integration only for Windows, Linux, and macOS. As suggested [here](https://github.com/avast-tl/retdec/pull/476#issuecomment-460762179), it would be a good idea to also connect RetDec to a continuous integration service supporting FreeBSD, such as https://cirrus-ci.com/.

A

[2019-02-06 06:55] pfalcon commented on #448
;-) Comments from that guy definitely brighten up otherwise boring stream of reports like "yara-foo doesn't build on macos 10.foo.bar" ;-)

[2019-02-06 08:48] s3rvac commented on #488
Hi Daniel. Thank you for your interest in RetDec.

I have taken a look at `DeadLocalAssignOptimizer` and I think you are right. We will gladly accept a PR for that improvement.

Below, you can find stats from our internal testing/benchmarking tool concerning the time spent in various phases of `retdec-llvmir2hll` (anything not included is less than 1%):

![llvmir2hll-phases-runtime](https://user-i

[2019-02-06 10:14] daatno commented on #485
Thanks.
In the meantime I've found the constant->global converting code part in bin2llvmir, so I could set a custom conversion there. Previously I saw a case where a constant didn't show up in the checkForGlobalInInstruction(...) function(and had no means correcting it in bin2llvmir), but I did modify  IRBuilder usage since, and can't remember which case triggered such behaviour.
So now the questi

[2019-02-06 10:52] silverbacknet commented on #448
Well that was sudden. I was going to comment earlier that it seems legit to aim to expose calling conventions of external functions, since internal doesn't matter, unless some sort of unbalanced call is seen. Even if you can assume cdecl for most and stdcall for WinAPIs, it can be quite helpful at times (especially if something is fastcall or vectorcall), though I doubt it's an especially common n

[2019-02-06 11:04] s3rvac commented on #448
We are not opposed to adding calling conventions into the output C code. I just wanted @PeterMatula to write his view on this as he has done most call-convention-related work in RetDec, but the issue has been suddenly closed. I will reopen it.

[2019-02-06 11:06] #485 closed

[2019-02-06 11:35] philpem opened #494 "Add support for m68k architecture"
The REcon 2018 slide deck suggests that some of the underlying tools behind Retdec support the Motorola M68k (aka 68000, CPU32) architecture.

What would be required to add support for M68K to Retdec?

[2019-02-06 11:52] s3rvac commented on #494
Hi. Thank you for your interest in RetDec. To get a sense of what needs to be done to add support for a new architecture, you can take a look at #9 (_Adding support for x86-64_).

@PeterMatula I think it would be useful to write a list of all the required actions to add support for a new architecture to our wiki as this might be useful for many people in the future. What do you think?

[2019-02-06 17:03] dberlin commented on #488
Interesting.  My profiles are *roughly* the same.

On my test cases (which are about 6 gig of .ll), it's definitely the case that CopyProp is the worst offender, but i have to disable the following:
CopyPropagation,DeadLocalAssign,SimpleCopyPropagation,AuxiliaryVariables,CCastOptimizer

With these disabled, my file completes in about 2 hours total.  Some of these passes, if enabled,  take an hour

[2019-02-06 22:08] sskras commented on #448
@s3rvac,

Thanks.  I follow some decompilation-to-C-lang project called Devilution – guys are trying to reconstruct the source to get byte-exact binaries of the Diablo 1 game (the ARPG pioneer, files are in PE32 format).

And sometimes we hit an issues where decompiled+recompiled binary gets totally different from the original.  Or even issues related to knowing calling conventions, eg:
https://gi

[2019-02-07 07:42] #472 closed

[2019-02-07 07:43] s3rvac commented on #472
Thank you for the report. The issue has been fixed by @astrelsky in #484 (thanks for the PR!).

[2019-02-07 10:32] s3rvac commented on #479
More timeouts on macOS: https://retdec-tc.avast.com/viewLog.html?buildId=1249&buildTypeId=Retdec_MacBuild&tab=buildLog&_focus=5200

@PeterMatula Can you please take a look at this issue?

[2019-02-07 11:06] s3rvac commented on #218
I am re-opening this issue as we still use YARA 3.6.3 in RetDec (the upgrade to YARA 3.7 is still in an unmerged branch). As both yaracpp and yaramod use YARA 3.8, we should also use YARA 3.8 in RetDec.

[2019-02-07 11:25] s3rvac commented on #458
I have analyzed this. In `src/fileformat/types/dotnet_types/dotnet_type_reconstructor.cpp`, there is the following piece of code:
[code]
The problem is that when analyzing the reported files, `assemblyRefTable` on line 842 is the null pointer, and so the call to `assemblyRefTable->getRow()` segfaults due to a null pointer access.

@metthal Would returning `nullptr` from `DotnetTypeReconstructor::c

[2019-02-07 13:11] metthal commented on #458
Yes, returning `nullptr` when `assemblyRefTable` is `nullptr` should be valid fix. That situation when `TypeRef` records refers to `AssemblyRef` table while `AssemblyRef` table is missing shouldn't really happen so something must be wrong with those files.

@JakubPruzinec could you please verify since you are author of this code? Would it for example make sense to set `classLibName` to empty strin

[2019-02-08 10:00] gwquk commented on #493
Great! Also the FreeBSD community have what is called a ports collection, with over 26,000 ports being maintained by individuals and teams. The ports collection is compiled into packages which rather than building the `port` yourself, you can download and install a pre-built `package`.
There are many massive organisations that use FreeBSD as servers or in embeded systems and contribute including A

[2019-02-08 10:06] gwquk commented on #493
PCBSD is probably the best place to start. As it will give you a nice GUI Desktop, where as FreeBSD (out of the box) will give you a basic server and you have to install all the `packages` to get a GUI Desktop.
(Another lifetime ago started on Linux/GNU but switched!)

[2019-02-08 10:29] lwhsu commented on #493
Hey @gwquk , since you ported RetDec to FreeBSD, do you want to help connect this project to Cirrus CI?  Here is a simple example and hope it helps: https://github.com/facebook/zstd/blob/dev/.cirrus.yml

If you would also like to create a port, it will be even better and I'll do anything I can help!

[2019-02-08 14:57] gwquk commented on #493
I'll give it a go, more than happy to help with both. Not done it before but I am sure you and google can help. 👍

[2019-02-08 15:47] gwquk commented on #493
OK, If I understand what is going on below.
1. For FreeBSD 12-0 & 11-2 releases on the amd64 arhitecture.
2. Change the (searched) text in /etc/pkg/FreeBSD.conf backing up the original to /etc/pkg/FreeBSD.conf.bak
    from "pkg+http://pkg.FreeBSD.org/${ABI}/latest" to "pkg+http://pkg.FreeBSD.org/${ABI}/latest"
3. Upgrade all currently installed "Packages" to the latest package.
4. Install all the

[2019-02-08 16:01] lwhsu commented on #493
@gwquk yes this one looks nice to me, except that I think we need one more 'N' argument after `make -j`.  Also, may I suggest you test this `.cirrus.yml` in your fork repository with cirrus-ci?

[2019-02-08 16:06] gwquk commented on #493
I have not submitted a port before, I'll make a few files.
I suspect "retdec" would go here "/usr/ports/devel/retdec" in the "ports tree"
I suspect these standard files will be needed..
Makefile        distinfo        pkg-descr       pkg-message

[2019-02-08 16:27] lwhsu commented on #493
All of these sound reasonable to me.  I would also recommend you reading the porter's handbook: https://www.freebsd.org/doc/en/books/porters-handbook/ and discuss on freebsd-ports list if you have further question: https://lists.freebsd.org/mailman/listinfo/freebsd-ports

[2019-02-08 16:37] gwquk commented on #493
Great! As I did not introduce myself.. I have been using FreeBSD activitely since around version 2.2.7 .. I did have a version 1.0 CD not sure where that went! Although I changed careers back in 2007, I have always maintained a few FreeBSD boxes. What about yourself?

[2019-02-08 16:41] lwhsu commented on #493
My FreeBSD history is shorter than you :) you can find my public information on my github page.

[2019-02-08 16:45] gwquk commented on #493
👍

[2019-02-09 11:01] gwquk commented on #493
Do I create a new file called ".cirrus.yml" in a "clone" of the retdec source code from github ..
Where do I start with this https://github.com/marketplace/cirrus-ci .. I have never used it before?

Sorry stupid questions..

[2019-02-09 11:24] lwhsu commented on #493
That's OK, you can create a new `.cirrus.yml` in a branch in your "forked" repository at https://github.com/gwquk/retdec , and please check cirrus-ci's doc at https://cirrus-ci.org/ for more information about how to enable that service in your repository.

[2019-02-09 13:30] gwquk commented on #493
OK.. I have made the "free" purchase. Uploaded the ".cirrus.yml" to my "forked" repository at [https://github.com/gwquk/retdec](url)  .. it is not obvious what happens next! Will Cirrus CI just find the file and use it on my repository?

[2019-02-09 16:13] lwhsu commented on #493
Yes it will get triggered automatically, the result is at https://cirrus-ci.com/github/gwquk/retdec/
It looks you need check syntax and indentation of YAML.

[2019-02-09 17:28] gwquk commented on #493
I have uploaded a new version but I am only guessing .. all I have done is indent some of the lines. Could you please take a look into the file ".cirrus.yml" at [https://github.com/gwquk/retdec](url) ? Thanks

[2019-02-09 17:37] lwhsu commented on #493
Please check this one https://gist.github.com/27795df4dd4d33929c6444ec4368654c

[2019-02-09 18:15] gwquk commented on #493
cheers... some silly mistakes on my part. Also ... looks like FreeBSD 12.0 may compile retdec successfully on the forth attempt. (still going) FreeBSD 11.2 failed!

[2019-02-09 18:36] lwhsu commented on #493
That's great!  Please also check the `sed` line in the above gist link, the line in your repository probably cannot do what we exactly want.

[2019-02-10 20:59] #490 closed

[2019-02-11 11:21] gwquk opened #496 "Clang Warnings on FreeBSD"
[code]

[2019-02-11 11:25] s3rvac commented on #496
Hi. Isn't this a duplicate of #482? The following warning
[code]
should be already fixed in `master` (see #482).

[2019-02-11 11:58] gwquk commented on #496
Probably... I thought you had fixed the other warnings. Sorry!

[2019-02-11 12:11] s3rvac commented on #496
No problem. Let me know if you see any other warnings.

[2019-02-11 12:11] #496 closed

[2019-02-12 12:05] s3rvac opened #497 "Apart from icon hashes, add the ability to fileinfo to also present raw icon bytes"
Since #339, `retdec-fileinfo` is able to present icon hashes. It could be also useful to add the ability to present raw icon bytes.

Notes:
- This output could be turned on via a new parameter. Alternatively, we could present the bytes every time (provided that the user requested `-v/--verbose` output). We can discuss this.
- I am not sure how useful would this piece of information be in the plain

[2019-02-13 05:59] s3rvac opened #498 "fileinfo crashes in cpdetect/libdwarf when obtaining DWARF information from an ELF binary"
`fileinfo` crashes in cpdetect/libdwarf when obtaining DWARF information from an ELF binary.

## Input

Run
[code]
where `FILE` is:
* `48AD68D1E4A88F0031DC875E6187DC9E7D60D8B86170CDE6E1BA4F025C74E6E3`

## Output

[code]

## Expected output

`fileinfo` does not crash when analyzing the file.

## Output from valgrind

[code]

## Configuration

* Commit: ff640cbb4ce4df139af632f99d2b9bbed2061326 (curr

[2019-02-14 05:54] dberlin opened #500 "Fico order vs SCC order?"
(Filing an issue so someone can tell me whether i'm dumb :P)

While looking at the SCC funcSetset vs funcsetvector, i was reading the fico computation code.

Unless i'm missing something,  fico order as defined in the header file is precisely the output of the SCC algorithm if you didn't remove the singleton sccs because it's just a reverse topological ordering of the condensation graph.

(at leas

[2019-02-14 12:12] s3rvac commented on #500
Hi Daniel. I have looked into the code and I think you are right, i.e. `FuncInfoCompOrder` should be computable via reverse topological ordering of the condensation graph :+1:

[2019-02-14 12:12] #500 closed

[2019-02-14 22:07] metthal opened #502 "Calculation of section and overlay entropy"
Entropy can be useful when determining possible contents of the binary and interesting parts. Fileinfo should provide such information for all sections and also overlay.

[2019-02-15 07:39] s3rvac opened #503 "Investigate switching between Release and Debug configurations in Visual Studio"
We should investigate switching between `Release` and `Debug` configurations when using Visual Studio on Windows. It seems that when you build RetDec in one of the configurations and then switch to the other one, the build fails. I do not have any details at hand.

[2019-02-16 04:45] leftmostcat opened #504 "Statically linked code is not removed"
A number of statically-linked functions are detected in the LEGO Star Wars demo (https://www.gamepressure.com/download.asp?ID=7338) but are not removed from the final decompiled code, e.g. `__pow_pentium4()`. This goes both for apparently standard functions and functions from user-specified sigfiles.

[2019-02-16 10:09] slw07g commented on #103
Experiencing the same issue on Mojave. The suggested fix does not work for me.

[2019-02-18 12:49] #298 closed

[2019-02-18 16:57] slw07g commented on #103
The issue was resolved for me by removing the yaramod-project-* directories and rebuilding.

[2019-02-20 08:47] lwhsu commented on #493
Hello @gwquk how's the status? I see the `.cirrus.yml` in https://github.com/gwquk/retdec is good, but there seems some tweaks in the retdec's c++ codes, right?

[2019-02-20 11:55] philpem commented on #494
I've forked Retdec and started adding M68K support on a branch:
https://github.com/philpem/retdec/tree/add-m68k-support

It looks like the next step would be to write some code to convert 68K assembler into LLVM IR.

[2019-02-21 11:20] PeterMatula commented on #479
Fixed in 55d46b5, all previously disabled tests enabled in https://github.com/avast-tl/retdec-regression-tests/commit/87dd055a96d4a512204082ec1dabedaa2505b7b4.

[2019-02-21 11:20] #479 closed

[2019-02-21 11:30] PeterMatula commented on #16
This should be much better after this commit e6f47cf6ae6bd3d79793b61364831fca74739bbf,
 which was already merged to `master`. Also, there were some very helpful PRs optimizing _llvmir2hll_. We did not make a new release just yet. If you want, you can try to compile it yourself, or try the latest `master` [builds](https://github.com/avast-tl/retdec#automated-teamcity-builds).

Closing this, but kee

[2019-02-21 11:30] #16 closed

[2019-02-21 15:32] PeterMatula commented on #24
Output from the current `master`:
[code]

Regression tests added in https://github.com/avast-tl/retdec-regression-tests/commit/69a2f3f032e729f48c60475f1e24c5cde14806ae.

[2019-02-21 15:32] #24 closed

[2019-02-21 15:42] PeterMatula commented on #32
Test binary: [test.zip](https://github.com/avast-tl/retdec/files/2889959/test.zip)

[2019-02-21 16:41] PeterMatula commented on #83
Output by the current `master`, after the `new` LLVM IR to BIR convertor became the default convertor in _llvmir2hll_:
[code]
I can't say empty if bodies are never going to be generated, but the current output (all the functions) look quite ok at the moment - nice test binary by the way. If you come across another issue, open an issue :-)
I added regression test (https://github.com/avast-tl/retdec

[2019-02-21 16:41] #83 closed

[2019-02-21 16:51] PeterMatula commented on #86
Might be related to relocations - although they do not seem to point to this address.

Or it might be related to another problem. The loader says that `.data` section is empty, i.e. size 0:
[code]
the same in section table:
[code]
But at least in DSM there are bytes in `.data` and it overlaps with `.rdata`:
[code]

I would rather see something like this:
[code]

[2019-02-21 17:42] PeterMatula commented on #88
Test binary: [test.zip](https://github.com/avast-tl/retdec/files/2890308/test.zip)
Test command:
[code]

[2019-02-21 18:19] PeterMatula commented on #88
The current LLVM IR output right after decoding:
[code]
Which is ok - there are all 3 branches. They are moved to the next instruction, because that is the way RetDec is currently dealing with MIPS delay slots - which in itself may not be ok, I think there is a ticket somewhere that shows that this might cause us problems, but that is not the point of this issue.
Unfortunately we are not currently

[2019-02-21 18:19] #88 closed

[2019-02-22 13:07] PeterMatula commented on #136
All tests mentioned here were either enabled in https://github.com/avast-tl/retdec-regression-tests/commit/faf70219213a05e24573640393afd56deab365d3, or were already enabled, or are not present anymore.

[2019-02-22 13:07] #136 closed

[2019-02-22 13:18] PeterMatula commented on #157
I looked into 2809A2044803FD55E393723B9AD2D19E808074424DAD56BEABB9816E3DF1FC60 sample, and no tool I tried (LIE, IDA, objdump) can handle it. It looks like it is seriously damaged and I'm not sure if we will be able to do something about this.

[2019-02-22 13:42] PeterMatula commented on #174
The current output is actually quite ok. Added test (https://github.com/avast-tl/retdec-regression-tests/commit/51dd73cf6ab14cf641bf20ed5bb4c1b659f8ffd0) and close.

[2019-02-22 13:42] #174 closed

[2019-02-22 13:47] PeterMatula commented on #175
The current output does not look too bad. But since there is not a concrete problem mentioned in this issue, I don't know what to test for. I decided not to add a regression test for this, since it would be too general and would needlessly clutter the test set.

[2019-02-22 13:47] #175 closed

[2019-02-22 15:32] PeterMatula commented on #179
Looks ok in the current `master`. Regression test added in https://github.com/avast-tl/retdec-regression-tests/commit/ad5bcbe0d9fa0d6496942991537f7b4188cafaab.

[2019-02-22 15:32] #179 closed

[2019-02-22 15:46] #197 closed

[2019-02-22 15:51] PeterMatula commented on #211
The default LLVM IR to BIR converter was changed in e6f47cf6ae6bd3d79793b61364831fca74739bbf. This commit is already in `master`.

[2019-02-22 15:51] #211 closed

[2019-02-22 16:49] philpem commented on #435
I'd find this extremely useful too, to go alongside the M68K support I'm working on adding.

M68K is widely used in embedded systems and a good decompiler with memory-map and I/O mapping support would be a game-changer for several platforms (NeoGeo, Sega Genesis/Megadrive, Amiga, Atari ST...)

[2019-02-23 08:11] monkbai opened #505 "Incorrect result when decompile inline data"
I found the result is suspicious while decompiling a simple example with RetDec. I think I should report it here.
Example Code:
[code]
Compiled with gcc 7.3.0:

And the line 6 was compiled into:
[code]
It semms the hello string was compiled into inline data(from 0x8048474 to 0x8048497), and RetDec failed to recover all this string. This is the main function generated by RetDec:
[code]
Only part of

[2019-02-23 12:17] silverbacknet commented on #505
The current output is:

`int main(int argc, char ** argv) {
    // 0x4015c0
    int32_t v1; // edi
    ___main(v1);
    int32_t str = 0x6c6c6568; // bp-116
    int32_t v2; // bp-92
    __asm_rep_stosd_memset((char *)&v2, 0, 19);
    int32_t len = strlen((char *)&str); // 0x401618
    _write(1, &str, len);
    return 0;
}`

Which is a much cleaner way of demonstrating the same broken decompilation.

[2019-02-23 15:43] monkbai commented on #505
@silverbacknet I'm a little confused now, you mean _0x6c6c6568_ is an address? I thought it is part of the string:
[code]
And so other values in assembly codes.

[2019-02-23 20:55] silverbacknet commented on #505
Never mind, I had a syntax brain fart late last night, somehow ignored the &.

[2019-02-25 09:58] PeterMatula commented on #276
After the `new` LLVM IR to BIR converter became the default converter (#211), this should happen a lot less. Well, in fact it cannot happen at all, since the `Detected a possible infinite recursion (goto support failed); quitting...` error is present only in the old converter. But that does not mean that code structuring is always good, or at least better than before. It should, however, be better

[2019-02-25 09:58] #276 closed

[2019-02-26 06:18] s3rvac opened #508 "Remove the original converter of LLVM IR into BIR from llvmir2hll"
Now that `retdec-llvmir2hll` is using the new converter of LLVM IR into BIR, we can remove the original (old) one. Reasons:
* Nobody will probably ever use it.
* We will not have to maintain two converters.
* Fewer `.cpp` files to compile.

[2019-02-26 09:57] metthal opened #510 "Add option to install only specific CMake targets"
RetDec is a large-scale project containing multiple standalone libraries and binaries. It might be useful if we were able to install only certain parts of RetDec, for example just `fileinfo` and its dependencies.

This might be achieved through `COMPONENT` attribute of `install` directives in CMake but I have never tried it myself. (https://cmake.org/cmake/help/v3.13/command/install.html)

[2019-02-26 10:50] JakubPruzinec commented on #458
Thx for letting me know. Indeed, the check was missing.
https://github.com/avast-tl/retdec/pull/511

[2019-02-27 12:34] #256 closed

[2019-02-27 12:38] PeterMatula commented on #256
I added a check that prevents moving vector iterator beyond vector end. Fixing the problem this way was not that complicated. I also attempted to find out why this situation happened in the first place. The problem is that `Asn1Item` element created from data has greater size than the data itself. I was not able to find any obvious bug here, it looks like the algorithm to create `Asn1Sequence` all

[2019-02-27 13:35] #401 closed

[2019-02-27 13:40] PeterMatula commented on #401
Righ you are. Fixed to `op0 = op0 - (op1 + CF)` pattern.

The current result is:
[code]
which I think is equivalent to:
[code]
Because:
* if `dummy() != 0` is `true (1)` then `0b1 ^ 0b111` = `0b110` = `6`
* if `dummy() != 0` is `false (0)` then `0b0 ^ 0b111` = `0b111` = `7`

[2019-02-27 14:56] PeterMatula commented on #498
This is crashing in the _libdwarf_ library, right after the first `dwarf_next_cu_header_c()` is called - there is nothing we can do from the user (RetDec) side to fix this. Libdwarf we use is very old and its compilation hacked, so it won't be easy to fix this.

[2019-02-27 15:10] PeterMatula commented on #494
I will put together some wiki page on this topic. In the meantime, you can take a look at these two repositories that are adding support for ARM64:
* https://github.com/MatejKastak/capstone-dumper/tree/master/src/capstone-dumper
   * It is a fork of https://github.com/avast-tl/capstone-dumper.
   * It adds support for dumping info for ARM64 architecture: https://github.com/MatejKastak/capstone-dum

[2019-02-28 09:34] #508 closed

[2019-02-28 11:22] PeterMatula commented on #494
The promised wiki page:
https://github.com/avast-tl/retdec/wiki/How-to-add-support-for-a-new-architecture

[2019-02-28 13:13] s3rvac commented on #458
Fixed by @JakubPruzinec in #511.

[2019-02-28 13:13] #458 closed

[2019-02-28 13:23] #436 closed

[2019-02-28 13:24] PeterMatula commented on #436
The binary was added to our internal tests, since in this case we don't need to check the output quality but only that the decompilation succeeds.

[2019-02-28 17:07] fesc2000 commented on #436
Fix confirmed, thanks a lot!

Am Do., 28. Feb. 2019 um 14:23 Uhr schrieb Peter Matula <
notifications@github.com>:

[2019-03-01 09:38] PeterMatula commented on #392
Delay slots - of course, what else would it be? This is a real example of a theoretical flaw in the way we handle delay slots. I knew this could happen, but hoped it won't - and so far it did not.
I will try to find a more robust solution, but who knows what else will break - those things (delay slots) are a [real pain](https://blogs.msdn.microsoft.com/oldnewthing/20180412-00/?p=98495) in the back

[2019-03-01 13:39] nihilus commented on #392
Yupp, they are tricky to reconstruct. Look at the snowman code and how it does handle them.

[2019-03-01 22:27] metthal commented on #510
I did some investigation and it doesn't look that good because of multiple reasons:

1. It is not transitive. So if I specify `COMPONENT fileinfo` to install target of `retdec-fileinfo` and use `CMAKE_INSTALL_COMPONENT=fileinfo` then only `retdec-fileinfo` is installed. Nothing else.
2. You cannot specify more than one component in `install()` directive therefore you can't for example have compone

[2019-03-02 08:51] PeterMatula commented on #415
Internal note: possible inspiration in Avast cuckoo module `static_pe_anomaly.py`.

[2019-03-02 15:58] PeterMatula commented on #390
Tried with the new LLVM IR to BIR converter - still the same result - i.e. `while` instead of `for`.

[2019-03-02 16:04] #383 closed

[2019-03-02 16:16] PeterMatula commented on #448
I like the idea, I like how Hex-Rays does it. I don't think it would be a big problem to add this to our back-end generator.
@s3rvac we can discuss if this would be in a default C output, or it would be enabled by some decompilation option.

[2019-03-02 16:25] PeterMatula commented on #373
Closing since I cannot reproduce this without a binary or `gdb` backtrace.

[2019-03-02 16:25] #373 closed

[2019-03-02 16:36] PeterMatula commented on #140
@nihilus Getting the variadic functions right is very hard in general, but we should do better if we know that the function is `printf()`, or some of its variant we have type information for.
So, if you have a case when it id bad even in such a case, please report it - provide a sample and we will look into it.

[2019-03-04 08:55] #431 closed

[2019-03-04 09:00] PeterMatula commented on #431
Indeed related to #421, but it should not matter - even if COFF detection is wrong, when user specifies mode `raw` it should be used.

Fixed by forcing `raw` mode if user set it.

[2019-03-04 09:41] #421 closed

[2019-03-04 09:46] PeterMatula commented on #421
The problem is, that code that decides this is a valid COFF is in LLVM - COFF object constructor succeeds.

I didn't want to hack it in LLVM so I added some additional checks of the parsed COFF object that will determine if it is a valid COFF.

[2019-03-05 03:02] huoyingyangjie opened #512 "Failed when removing code that is not reachable in a CFG"
<h3>Note:</h3>
 I have already set "stack size" to unlimited.

<h3>Example:</h3>
./retdec-decompiler.py  --no-memory-limit libtd.so

<h3>Log:</h3>
[dec.log](https://github.com/avast-tl/retdec/files/2929099/dec.log)

<h3>Input:</h3>

[libtd.zip](https://github.com/avast-tl/retdec/files/2929100/libtd.zip)

[2019-03-05 15:58] #218 closed

[2019-03-06 06:10] s3rvac commented on #138
I am closing the issue as it has been implemented in #440.

[2019-03-06 06:10] #138 closed

[2019-03-06 07:53] s3rvac commented on #512
Thank you for the report. I was able to reproduce the bug. The Debug build fails with the following assertion:
[code]
We will have to investigate what has caused this error.

[2019-03-06 12:09] PeterMatula commented on #9
After #513, RetDec has a basic support of 64-bit x86 architecture.  Moreover, function parameter & return analysis, ABI, and other related modules, were completely rewritten - this should improve quality for other architectures as well.

Big thanks to Peter Kubov (@xkubov).

* We will put together a new release in the near future.
* We will continue to improve quality of x64 decompilation.
* ARM64

[2019-03-06 12:09] #9 closed

[2019-03-06 13:22] VanNostrand opened #514 "output contains garbage code from gcc"
I built the current master branch and decompiled /bin/true to see it in action. The C output was so large that I wrote my own version to compare it. So I wrote, compiled and decompiled the following:
[code]
The output correctly contained the main function as is but it also added several unused garbage functions and global variables (gcc-overhead?) that also prevents the generated C file to compile

[2019-03-07 15:45] takid2848 opened #516 "retdec-bin2llvmir crashes when decompiling Large elf files"
<pre>
- event log

 &#60;Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- &#60;System>
  &#60;Provider Name="Application Error" />
  &#60;EventID Qualifiers="0">1000&#60;/EventID>
  &#60;Level>2&#60;/Level>
  &#60;Task>100&#60;/Task>
  &#60;Keywords>0x80000000000000&#60;/Keywords>
  &#60;TimeCreated SystemTime="2019-03-07T15:17:41.000000000Z" />
  &#60;EventRecordID>71735&#60

[2019-03-07 17:50] takid2848 commented on #516
This was an error because of the visual c++ 2015; reinstalling visual c++ will help to fix this,

[2019-03-07 17:50] #516 closed

[2019-03-07 17:55] takid2848 opened #517 "Decompilation to LLUM IR failed;"
![2](https://user-images.githubusercontent.com/31562186/53977764-1ad58980-414d-11e9-95c3-ab5c1151e367.PNG)

File info :
Input file               : D:\a.so
CRC32                    : 7523d768
MD5                      : 1ace6033c611ff7ef872c6af348b9919
SHA256                   : 559b76686348fead7d6ef4b69c8fcc006bba1d6075fa1e370cc67cfb1fc5e065
File format              : ELF
File class               :

[2019-03-07 22:59] silverbacknet commented on #517
You need to wipe your whole Python installation out and reinstall from scratch. Py3 should not be calling Py2 at the end there.

[2019-03-08 06:20] s3rvac commented on #517
Thank you for the report.

As for the `retdec-bin2llvmir` failure, I have tried decompiling the file on Linux, but the decoding phase has not finished in 10 minutes so I stopped it. @PeterMatula can you please verify?

As for the `pefile` failure, this is not related to RetDec (we do not use `pefile` in RetDec). You will have to report the error [upstream](https://github.com/erocarrera/pefile). My

[2019-03-08 14:52] takid2848 commented on #517
retdec-decompiler.py --no-memory-limit helped me to skip the "In put binarr..; but this still has an problem.

I will show what happens.

[2019-03-08 15:01] takid2848 commented on #517
![6](https://user-images.githubusercontent.com/31562186/54035711-5334a080-41fd-11e9-8d85-69b79ff10586.PNG)

First. the decompiling used so many rams so I needed to use --no momory limit options.
So I could continue decompiling.(Used about 7GB RAMS)

![8](https://user-images.githubusercontent.com/31562186/54035822-85de9900-41fd-11e9-9bab-2139c93e01e9.PNG)

But when I skiped to  'Conditional branch

[2019-03-12 06:22] s3rvac commented on #278
Another sample with probably the same issue:
[`FBA4E789B2715FCE4D30E4BF91DF4D7507BE018318065862F38D6DC2AC437CA0`](https://www.virustotal.com/#/file/FBA4E789B2715FCE4D30E4BF91DF4D7507BE018318065862F38D6DC2AC437CA0/detection)

[2019-03-12 08:28] s3rvac commented on #517
@takid2848 The `Could not acquire a cryptographic context` error suggests that you do not have enough memory to decompile the file (see #387 and #73). Unfortunately, for some decompilations, RetDec requires a lot of memory.

[2019-03-16 14:52] cycledetector opened #520 "Building retdec failed on Windows 10 ("error C2039: 'string': is not a member of 'std'")"
I was trying to build retdec on Windows 10 with the latest RC of Visual Studio, executing the following commands:

cmake .. -DCMAKE_INSTALL_PREFIX="C:\retdec" -G"Visual Studio 16 2019" -A"x64"
cmake --build . --config Release -- -m

and while it was building retdec-pat2yara, it threw the following error: `retdec\src\pat2yara/modifications.h(34): error C2039: 'string': is not a member of 'std'`

By

[2019-03-17 07:19] s3rvac commented on #520
Thank you for the report! The include was indeed missing. I have added it in commit ebdecf19d949dbacf0391fb4f261dc13bc4881a7, so the build should now complete successfully.

[2019-03-17 07:19] #520 closed

[2019-03-17 15:42] cycledetector commented on #520
Thank you for the quick feedback and the fix, building retdec-pat2yara completed succefully.

[2019-03-17 18:00] sdasgup3 commented on #480
Any update on this would be very useful.

[2019-03-18 07:18] s3rvac commented on #278
Another sample with probably the same issue:
[`ACFB78DA95D27F0677C45B00514360018B5C6A546A04CDF1C6E83610F926CB2D`](https://www.virustotal.com/#/file/ACFB78DA95D27F0677C45B00514360018B5C6A546A04CDF1C6E83610F926CB2D/detection)

[2019-03-18 07:26] s3rvac opened #521 "fileinfo fails in loader::ElfImage::loadExecutableFile() on "Invalid Range: end is greater than start""
`fileinfo` fails in `loader::ElfImage::loadExecutableFile()` on `"Invalid Range: end is greater than start"`.

## Input

Run
[code]
where `FILE` is:
* [`A1A153305B08A6E09E3244C43E355798AF4DA9CB71D81325C4CCC15DDC1B530C`](https://www.virustotal.com/#/file/a1a153305b08a6e09e3244c43e355798af4da9cb71d81325c4ccc15ddc1b530c/detection)
* [`83CE53B0CADC06D0DA13556DE6CCD2F510B03EF9B1A1C2A9E8569FB9DAF4E11F`]

[2019-03-18 13:49] PeterMatula commented on #512
The assertion reported by @s3rvac was probably fixed in 6f60474, but I still cannot decompile this file (probably because of #13) - so leaving this open for now.

[2019-03-18 15:23] JakubPruzinec opened #522 "Mach-o TLS callbacks support"
PE file format contains TLS Directory with callback frunction addresses. Mach-o supports similar functionality in `S_THREAD_LOCAL_INIT_FUNCTION_POINTERS` section.

Add support for Mach-o callbacks parsing.
https://opensource.apple.com/source/dyld/dyld-195.6/src/threadLocalVariables.c.auto.html

[2019-03-19 17:24] #502 closed

[2019-03-20 09:05] PeterMatula commented on #480
Well, I can verify it is a problem, we do not handle object files very well at the moment.

I have tasked one of our students to look into objects files decompilation and try to make it better. He will start with #201, but should get around to this as well.

[2019-03-20 09:14] PeterMatula commented on #480
The problem actually looks very similar to #201. This is our DSM output:
[code]

The code of the function did not even got disassembled because of that misdetection of `_GLOBAL_OFFSET_TABLE_` at `0xc` as a dynamically linked function - the same thing happens in #201. The problem is that in these cases, we handle relocations incorrectly - we make false assumptions about positions of external functi

[2019-03-20 18:55] s3rvac commented on #110
LLVM 8.0 [is out](https://lists.llvm.org/pipermail/llvm-announce/2019-March/000082.html).

[2019-03-22 07:08] ladislav-zezula opened #524 "Review code that checks packers based on section names"
In Adam's blog (http://www.hexacorn.com/blog/2016/12/15/pe-section-names-re-visited/), there is an updated list of section names. You may want to review code in https://github.com/avast-tl/retdec/blob/master/src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp and add new ones, if necessary.

[2019-03-22 10:38] radare opened #525 "Integrate with Travis and a add badge"

[2019-03-22 10:38] radare opened #526 "Add builds for macOS and Linux (ubuntu package?)"

[2019-03-22 10:41] s3rvac commented on #525
Hi. Could you please elaborate? We have both integration with Travis CI ([link](https://travis-ci.org/avast-tl/retdec)) and badge in README:

[![Travis CI build status](https://travis-ci.org/avast-tl/retdec.svg?branch=master)](https://travis-ci.org/avast-tl/retdec)

[2019-03-22 10:46] s3rvac commented on #526
Hi. I am not sure if this is what you are asking for, but we have [automated TeamCity builds](https://github.com/avast-tl/retdec#automated-teamcity-builds) for Windows, Linux, and macOS. No `.deb` packages or repository for Ubuntu though.

[2019-03-22 11:02] #525 closed

[2019-03-22 11:02] radare commented on #525
👓

[2019-03-22 11:03] radare commented on #526
Would be good to include those builds in the release page https://github.com/avast-tl/retdec/releases

[2019-03-22 11:04] radare commented on #526
also i need login to access this teamcity thing, is there any public place to download the mac/linux builds?

[2019-03-22 11:12] s3rvac commented on #526
@PeterMatula What do you think about this? Could we download and add stable builds (e.g. for `v3.3`) there?

You can just click on _Log in as guest_. Nevertheless, in commit 0d4f9a01439860ba2fd9c008599f4d7a2bfcb646, I have added `?guest=1` at the end of the URLs in README, so it should allow you to download them directly, without a need of logging in. So, just open [this page](https://github.com/a

[2019-03-22 11:23] radare commented on #526
thanks!

On Fri, 22 Mar 2019 at 12:13, Petr Zemek <notifications@github.com> wrote:

--
--pancake

[2019-03-23 12:47] zaoqi opened #528 "use `git clone --depth 1 ...`instead of download https://github.com/avast-tl/llvm/archive/3d1e5d0bc1122a027e83f57c86851a027dd09112.zip"
[code]

[code]

[2019-03-24 10:19] zaoqi opened #529 "How to generate a file that can be recompiled?"
How to generate a file that can be recompiled?

[2019-03-24 10:23] zaoqi opened #530 "Where is `call`?"
[code]

output
[code]

[2019-03-24 13:51] silverbacknet commented on #530
It's hard to diagnose a problem without all of: A binary, the exact version of retdec used, and the exact commandline it was called with.

[2019-03-24 17:48] arkup opened #531 "x86-64 global data incorrect ref addr"
Hi, I'm using v3.3 playing with the x86-64 files and noticed global data is incorrectly referenced

For example in my code RetDec references **0x21375b**
[code]

Ghidra references correct address **0x00213768**;
[code]

my Cmd line
[code]

Function base64

[code]

[2019-03-25 06:42] s3rvac commented on #529
Hi. As written in #45, producing recompilable C source code is not our main goal, so there is no special parameter that would magically make the output C code recompilable. Nevertheless, in some cases, the C source code that RetDec produces is recompilable, which we sometimes utilize in our tests (e.g. [this one](https://github.com/avast-tl/retdec-regression-tests/blob/master/integration/fpu/test.

[2019-03-25 06:42] #529 closed

[2019-03-25 06:46] s3rvac commented on #528
Hi. Does this happen for you all the time or has it happened only once? GitHub's servers are sometimes overloaded/unavailable, to this may be the cause.

Also, can you please elaborate what would be the benefit of using `git clone --depth 1 ...` instead of downloading all sources files in an archive, which is what we do at present?

[2019-03-25 08:19] PeterMatula commented on #526
@s3rvac There already are 2 builds `win32-release` and `win64-release` that could be used in this way. In fact, when creating a release, I just took artifact from these builds and added them to the release. It would be no problem to create the same build configs for Linux/macOS, but we need to discuss it further - there are reasons we did not do it so far.

[2019-03-25 08:47] PeterMatula commented on #530
This looks like a very specific case, so as @silverbacknet wrote, we won't be able to look into it without the sample binary and the command you used.

[2019-03-25 09:28] lokkju commented on #143
Would something like the https://godbolt.org/ project help with this?  Allows generation of code via an immense selection of compilers; even if the current web ui doesn't work for this purpose, they might be able to help out.

[2019-03-25 12:54] PeterMatula commented on #531
Looks like we do not use 64-bit x86 mode in this case. The data in question `8b 1d 5b 37 21 00`:
* 32-bit mode: `mov ebx, dword ptr [0x21375b]`
* 64-bit mode: `mov ebx, dword ptr [rip + 0x21375b]` (next instruction is at `0xd` => `0x21375b + 0xd = 0x213768`)

This might be a big problem, because we use this approach (selective decompilation) from IDA plugin - all such decompilation might be affect

[2019-03-25 13:09] PeterMatula commented on #143
@lokkju Very interesting project. I might use it sometimes for experiments I often do. However, I'm not sure if it would be any use in the case of statically linked code. We need to generate signatures from libraries these compilers use - we need to have all these compiler packages in order to do it. Moreover, we probably don't even want to prgenerate all the possible compilers, just make it easie

[2019-03-25 13:47] PeterMatula commented on #526
* We will add a macOS release package.
* We will explore a possibility to build various Linux packages in our TeamCity via docker. We are not to keen on officially releasing the current CentOS build as an all-Linux package - it could cause a storm of incompatibility-related issues.

[2019-03-25 14:03] lokkju commented on #143
@PeterMatula as my interested is more on the reversing side, I wasn't thinking as much about users generating their own signatures; but seeing the design in #244, there is no reason a user couldn't just offer repositories of signatures.  Anyway, I'll be happy to see progress on this!

[2019-03-25 15:00] radare commented on #526
thanks!

[2019-03-26 10:51] wonderzdh opened #532 "Does retdec consider supporting other reverse engineering framework, such as radare2"
Does retdec consider supporting other reverse engineering framework, such as radare2

[2019-03-27 03:02] tinybrainrobotics opened #534 "retdec-unpacker prints "No matching plugins found for 'gc'""
[code]
Thanks for retdec :)
Which plugging do I need and how do I install it?

Thank you

[2019-03-27 08:27] PeterMatula commented on #532
We are exploring a possibility to use RetDec from radare2 and/or Cutter. I also think a x64dbg plugin would be possible. Both would be similar to our IDA plugin.

However, I'm not sure if this is what you are asking. Can you clarify what you mean by _supporting other reverse engineering framework_?

If you have some specific tool in mind, and there isn't already an issue asking for the support, fe

[2019-03-27 10:51] metthal commented on #534
The message you see is just an error of the unpacker but not the whole decompilation. If unpacking fails, decompilations still continues so you shouldn't worry about it. If you have any problems with the decompilation itself then please provide rest of the log messages.

[2019-03-28 09:36] wonderzdh commented on #532
Yes, when I used retdec-idaplugin, I found it to be much better than the decompiler on radare2(r2dec), even though it runs very slowly.

[2019-03-31 21:52] bansan85 opened #535 "bin2llvmir crashes in llvm::DataLayout::getAlignmentInfo"
bin2llvmir fails in `llvm::DataLayout::getAlignmentInfo`

# input
`/home/legarrec/info/programmation/retdec/install/bin/retdec-bin2llvmir -provider-init -decoder -verify -x87-fpu -main-detection -idioms-libgcc -inst-opt -cond-branch-opt -syscalls -stack -constants -param-return -local-vars -inst-opt -simple-types -generate-dsm -remove-asm-instrs -class-hierarchy -select-fncs -unreachable-funcs -in

[2019-04-01 05:29] s3rvac commented on #535
Thank you for the report. When I try to decompile the input file via `retdec-decompiler.py lib2lgc.so`, `retdec-bin2llvmir` fails with the following assertion:
[code]
@PeterMatula Can you please analyze why is it failing?

We always compile LLVM in the Release mode, which is why you do not see any line information in stacktraces from LLVM.

[2019-04-01 06:17] stone201903 opened #536 "Incorrect decompilation: goto a label which is not defined"
[program.gcc.arm.zip](https://github.com/avast-tl/retdec/files/3027953/program.gcc.arm.zip)

Decompile  the attached file, (20 minutes on my 8vCPU 64GB memory machine), and in the source code you will find a goto statement "goto lab_generated_1;" but the label name lab_generated_1 is not defined.

[2019-04-01 06:26] stone201903 commented on #536
[program.c.zip](https://github.com/avast-tl/retdec/files/3027991/program.c.zip)

This is the decompilation result source code.

[2019-04-01 08:34] #532 closed

[2019-04-02 09:52] kundanSingh11 opened #537 "Decompilation fails with "File is not supported archive or is not readable" when decompiling a .so file"
Error: File is not supported archive or is not readable.

getting this error when trying to decompile .so file

[2019-04-02 10:36] silverbacknet commented on #537
Please attach the .so file you're trying to decompile, if you can, and post the command-line you're calling retdec with and the exact version of retdec.

[2019-04-04 06:22] kundanSingh11 commented on #537
This is the file that i was using
[libBlinkID.zip](https://github.com/avast-tl/retdec/files/3042001/libBlinkID.zip)

[2019-04-04 06:45] s3rvac commented on #537
Hi. Shared objects (`.so`) files have to be decompiled via `retdec-decompiler.py`. I think the reason why the decompilation does not work for you is that you are using `retdec-archive-decompiler.py` instead of `retdec-decompiler.py`. Is that correct? If so, you have to use `retdec-decompiler.py` because `retdec-archive-decompiler.py` is only for archives (`.a` or `.lib` files).

[2019-04-04 12:50] Florian-Ep opened #538 "Some loops are erroneously turned into infinite loops"
Hi,

When this kind of source code (loop with a small body) is compiled in 32-bit with gcc, RetDec fails to properly decompile it. In fact, this source code :

[code]
becomes :
[code]
RetDec properly decompiles it when it's compiled in 64-bit though :
[code]

Three passes seem to cause this issue : *Instruction Combine* (-instcombine), *Global Value Numbering* (-gvn) and *Early Cse* (-early-cse).

[2019-04-05 06:28] kundanSingh11 commented on #537
Yes, it work thanks.

[2019-04-05 06:28] #537 closed

[2019-04-05 11:27] #408 closed

[2019-04-05 14:38] astrelsky opened #539 "Additional HLL Emission Options"
There are two suggestions I would like to introduce.

Header Output
-----------------

* An option to specify the emission of a header file upon completion. This would include all the global variables and forward declarations instead of having a massive list of declarations at the beginning of the hll output file.

Split by Class/Namespace
----------------------------

* An option to specify the e

[2019-04-08 09:30] s3rvac opened #540 "Parallelize compilation of YARA rules during installation"
## Current state

When you run `cmake` with `-DRETDEC_COMPILE_YARA=ON` (the default), YARA rules that RetDec uses are compiled during the installation step, which makes decompilations run faster (no need to compile them on the fly during each decompilation).

## Drawback

YARA rules are compiled sequentially, which takes around 50 seconds to compile them on my machine.

## Suggestion

We could par

[2019-04-12 05:24] s3rvac commented on #538
Thank you for the report. @PeterMatula, can you please take a look at this?

[2019-04-12 05:27] s3rvac commented on #528
Closing because of a lack of response. Feel free to open the issue, but please provide answers to the raised questions.

[2019-04-12 05:27] #528 closed

[2019-04-12 10:57] s3rvac commented on #403
There have been several optimizations regarding this issue (most importantly #492, #495, #509). The decompilation of `3372c1edab46837f1e973164fa2d726c5c5e17bcb888828ccd7c4dfcc234a370` (TeslaCrypt) with the latest version of RetDec now succeeds. However, the decompilation of `aim.exe` still fails inside
[code]
Possibly an inifite loop in
[code]

[2019-04-15 03:05] bmourit opened #544 "allow section name as symbol name in fileinfo relocation tables"
Right now, fileinfo relocation tables show an empty symbol name if the relocation is referring to a section. This also causes some issues when it gets passed to the decoder.

**Example from readelf:**

_Relocation section '.rel.text' at offset 0x2e54 contains 118 entries:
 Offset     Info    Type            Sym.Value  Sym. Name
00000774  00000105 R_MIPS_HI16       00000000   .text
00000778  000001

[2019-04-15 07:48] eagleFromHeaven commented on #141
I also think this future is critical for normal output results.
Are there any update or forecast when  this will be added?
I think this can make the change we looking for and finally put us in ida_hex_ray level and better then this...

[2019-04-15 07:51] eagleFromHeaven opened #545 "Loading header file"
I think that if we will add the option to load .h file it will help the decompiler understand what is the exact types and how many parameters sent in.
It will significantly improve current retdec condition (today is often produce unworkable level of output...).

[2019-04-15 13:41] luckcolors opened #546 "Add docker image automated build."

[2019-04-16 11:01] MBilalQureshi opened #547 "How to install and run RetDec in Windows?"
I am trying to install retdec decompiler by avast, the issue is i am new in this field and i can't install it properly as described in this link
**https://github.com/avast-tl/retdec
Windows

Either download and unpack a pre-built package, or build and install the decompiler by yourself (the process is described below).

Install Microsoft Visual C++ Redistributable for Visual Studio 2015.

Install

[2019-04-16 11:14] silverbacknet commented on #547
Download from https://github.com/avast-tl/retdec/releases and unzip to a folder. It's that simple, don't read about rebuilding it yourself if you aren't familiar with the process.

You will have to use command line to decompile your favorite DLL (yes, DLL files written in C are the target audience); if you aren't familiar with that, then it's probably time to get used to it.

[2019-04-16 11:19] MBilalQureshi commented on #547
![retdec](https://user-images.githubusercontent.com/29452447/56205416-2af15a80-6063-11e9-9513-6c1e98b1d60a.png)

@silverbacknet i am getting this error, after the line i had written in cmd...am i doing it wrong?

[2019-04-16 11:24] s3rvac commented on #547
@MBilalQureshi The `$RETDEC_INSTALL_DIR` part of the path is user specific and has to be updated to match your system. For example, if you have unzipped the archive into `C:\` and you are currently in `C:`, run just
[code]

[2019-04-16 11:35] MBilalQureshi commented on #547
@s3rvac ok i have understand this part you have mentioned above but what i am getting is this
![image](https://user-images.githubusercontent.com/29452447/56206314-83295c00-6065-11e9-9844-f6df93bf196e.png)
can you help me this ? why am i getting this in cmd, even python is installed.

[2019-04-16 11:37] s3rvac commented on #547
Do you have Python 3 installed in your system? You can also try running
[code]
(Note that there is only a single `-` in the command, i.e. use `-3`, NOT `--3`.)

[2019-04-16 11:45] metthal commented on #546
We were discussing this with our team and it's already in our plan. The dockerfile we have will need some improvements but it can be used as a starting point. The problem here is that we are not able to use build machines on DockerHub because of their CPU/memory/time limits so we will need to set this up in our TeamCity.

[2019-04-16 12:04] MBilalQureshi commented on #547
@s3rvac OK, this worked **py -3 retdec/bin/retdec-decompiler.py** Thank you
now where do i put a file like for example test.exe or test.dll to get decompiled code
![image](https://user-images.githubusercontent.com/29452447/56208028-96d6c180-6069-11e9-81bc-856407217deb.png)

[2019-04-16 12:12] s3rvac commented on #547
Put it after the command, e.g.
[code]
The output C code will be then in file `test.exe.c`.

[2019-04-16 12:13] s3rvac commented on #547
Of course, the file has to be in the current folder. If not, you will have to specify a full path to the file.

[2019-04-16 12:59] MBilalQureshi commented on #547
@s3rvac ok i put the file in C directory but it is giveing me this can you help? i don't know what is causing this.
![image](https://user-images.githubusercontent.com/29452447/56211454-61ce6d00-6071-11e9-8824-16325e4fce50.png)

[2019-04-16 15:21] s3rvac commented on #547
As the error message says, you do not have permissions to create the file in `C:\` (you have probably some protection from writing files directly to `C:\`). I suggest moving both the `retdec` folder and the input file to a different folder (e.g. `C:\decompiler`) and run the command from there.

[2019-04-16 16:04] metthal opened #548 "Revise compiler and packer patterns in cpdetect"
`cpdetect` patterns for compilers & packers haven't been updated in a long time. It would make sense to go through them and revise them, throwing out very generic ones, adding new ones for new compilers & packers that were released in the meantime.

[2019-04-16 16:07] metthal opened #549 "Add new Microsoft Linker versions into PE compiler detection heuristics"
There were many new versions of Microsoft Linker released since we last updated our [PE heuristics](https://github.com/avast-tl/retdec/blob/a5f2992ac59d328a1c9a99427e5651b5daee385e/src/cpdetect/compiler_detector/heuristics/pe_heuristics.cpp#L1035) for detection of compiler. This list would need update.

[2019-04-17 16:35] MBilalQureshi commented on #547
@s3rvac ok thanks that worked, one last thing how to use UPX along retdec ? i can use this on cmd C:\UPX>upx.exe but that just opened upx options for compression and decompression. what should i do in this case?

[2019-04-18 04:16] Karaulov opened #551 "Add appveyor artifacts"
Please add builded .zip to appveyor artifacts!

![AQxYfVs 1](https://user-images.githubusercontent.com/6445336/56336641-cf7db480-61a9-11e9-9f38-17cd2405f0f9.png)

is empty!

[2019-04-18 04:20] s3rvac commented on #547
If you have UPX installed and available in PATH (meaning that you can run `upx` from anywhere), RetDec will automatically detect it and use it. So, apart from properly installing UPX, there is nothing you need to do.

[2019-04-18 04:20] Karaulov commented on #448
@s3rvac if retdec not support detection calling convention, this is very very poor decompiler.

For test malware need inject code to process and call some functions from malware. But if I can't see calling convention, that this is impossible.

Someone does not agree with this ?!

[2019-04-18 04:38] TheElementalOfCreation opened #552 ""Error: Decompilation to LLVM IR failed" During Conditional branch optimization"
Command Line Output:
[code]

My dump file:
[retdec-bin2llvmir.exe-2c8ddd.dmp.zip](https://github.com/avast/retdec/files/3092766/retdec-bin2llvmir.exe-2c8ddd.dmp.zip)

[2019-04-18 06:10] s3rvac commented on #448
@Karaulov As you can see in the comments above, we are definitely not opposed to it, and as Peter Matula has written, it shouldn't be a problem to incorporate it to RetDec.

[2019-04-18 06:55] Karaulov commented on #448
@s3rvac But in my opinion it is impossible to do? Since retdec is a very bad decompiler :(

[2019-04-18 07:54] s3rvac commented on #551
Closing as a duplicate of #234 and #446, both of which you have submitted.

[2019-04-18 07:54] #551 closed

[2019-04-18 08:00] s3rvac commented on #552
Thank you for the report. Would it be possible to provide the input file that you are trying to decompile so we can try to reproduce the issue? Either publicly here or privately via email.

[2019-04-18 08:09] jakubkroustek commented on #448
Hey @Karaulov, are you just trolling here? Two RetDec developers told you that it is doable, but in your _"opinion it is impossible"_, you closed the ticket, and you just keep repeating that _”RetDec is very bad decompiler”_ - seriously? You know what they say, _"Opinions are like assholes, everbody's got one"_. If you are not satisfied with this project, contribute (code, tests, hints, etc.) or g

[2019-04-18 09:16] Karaulov commented on #448
@jakubkroustek I can't do it because there is a very bad code and it cannot be improved. This decompiler uses 100GB of RAM to output unreadable code. Quality as in snowman decompiler :D

[2019-04-18 09:21] Karaulov commented on #448
I close this issue because no one ever be able add to output file calling conventions....

[2019-04-18 09:55] s3rvac commented on #448
Congratulations @Karaulov, your behavior has just earned you a permanent ban. I have blocked you completely in our organization (no more issues, comments, etc. from you).

[2019-04-18 09:56] s3rvac commented on #448
Let's reopen the issue and continue in a constructive way.

[2019-04-18 14:20] MBilalQureshi opened #553 "How to work with graphiz along retdec?"
I have installed retdec, what i want the **graphical representation of code** that is decompiled in C, how can i do this using graphiz as i am new to this work, can someone kindly explain.

[2019-04-18 18:14] TheElementalOfCreation commented on #552
What email should I send it to?

[2019-04-18 18:58] TheElementalOfCreation opened #554 "Help identifying file read?"
Hi there. I've just decompiled a file that I know will, at some point, read from a file. Unfortunately, I can't seem to find and standard file code, so I am not sure what I am looking for. Would it be possible for you to help me? Thank you.

[NAME_REDACTED.zip](https://github.com/avast/retdec/files/3095817/NAME_REDACTED.zip)

(Sorry if this issue is a duplicate. I tried to look for similar issues

[2019-04-19 04:52] s3rvac commented on #552
You can send it to e.g. the email that is [in my profile](https://github.com/s3rvac).

[2019-04-19 14:20] s3rvac commented on #554
@PeterMatula could you please take a look?

[2019-04-19 14:30] s3rvac commented on #553
Hi. First of all, you have to install [Graphviz](https://www.graphviz.org/). Then, run decompilations with parameters `--backend-emit-cfg` and `--backend-emit-cg`, e.g.
[code]
The former parameter enables the generation of [control-flow graphs](https://en.wikipedia.org/wiki/Control-flow_graph) while the latter enables the generation of a [call graph](https://en.wikipedia.org/wiki/Call_graph).

Aft

[2019-04-19 14:35] s3rvac commented on #545
Thank you for the suggestion. As this has already been suggested in #141 and partially ##223, I am closing this one as a duplicate.

[2019-04-19 14:35] #545 closed

[2019-04-19 14:37] s3rvac commented on #505
@PeterMatula can you please take a look?

[2019-04-19 16:22] MBilalQureshi commented on #553
@s3rvac thank you so much i knew you would reply, Its says please install graphviz to generate graphics where as it is already installed but is in Program files folder do i need to put it in retdec folder if yes than in retdec which folder.
![image](https://user-images.githubusercontent.com/29452447/56433077-263dd800-62e9-11e9-9b74-b0d9a45005bd.png)

[2019-04-19 16:47] s3rvac commented on #552
Thank you for the input binary. I have tried decompiling it with the current `master` build and the decompilation has successfully passed through `Conditional branch optimization`. However, it has consumed around 140 GB of RAM. @PeterMatula, could you please verify what is taking that much memory?

[2019-04-19 17:13] gregjhogan opened #555 "Add support for PowerPC VLE instructions"
Many [PowerPC e200 series microcontrollers](https://en.wikipedia.org/wiki/PowerPC_e200) support variable-length instructions.  Please add support!

[2019-04-20 05:55] blshkv commented on #356
@PeterMatula
This is a good start:
https://github.com/avast/retdec/blob/master/deps/openssl/CMakeLists.txt
```RETDEC_FORCE_OPENSSL_BUILD```

Please implement similar variables for the remaining ```deps``` packages

[2019-04-20 09:31] s3rvac commented on #553
You will need to add the folder containing `dot.exe` etc. into `Path` so that RetDec can find it ([HOWTO](https://helpdeskgeek.com/windows-10/add-windows-path-environment-variable/)).

BTW, in commit fe27942fb37ffa070f9cdffc19bc36c82a59b2da, I have added this piece of information into the error message to make this fact more obvious for people who stumble upon it in the future.

[2019-04-20 11:23] s3rvac commented on #552
[Here](https://github.com/avast/retdec/files/3100060/massif.out.zip) is an output from `valgrind --tool=massif` (heap profiler), taken during the `Conditional branch optimization`. It can be opened in e.g. [massif-visualizer](https://github.com/KDE/massif-visualizer). Below is also a screenshot from the tool:

![massif-visualizer](https://user-images.githubusercontent.com/5675953/56456632-0bae4200

[2019-04-20 23:30] TheElementalOfCreation opened #556 "Cmake version 3.12 and greater cannot find PythonInterp"
Cmake version 3.12 and greater cannot find PythonInterp. Variable has been changed to simply Python in version 3.12.

See https://stackoverflow.com/a/53368098/7723054 for more details

[2019-04-21 05:02] s3rvac commented on #556
This is strange. I use CMake 3.14 on Linux and have no issues with finding `PythonInterp`:
[code]
I have also tried building RetDec on Ubuntu 18.10 that has CMake 3.12 and had no issues with `PythonInterp`.

To be able to reproduce the issue, can you please provide the following information?
* What OS and version do you use?
* If you use MS Windows, are you trying to build RetDec directly in it (r

[2019-04-21 06:59] s3rvac commented on #556
BTW, CMake 3.12 has made [FindPythonInterp](https://cmake.org/cmake/help/v3.14/module/FindPythonInterp.html) deprecated. This does not mean it is completely gone. It just means that it should not be used in new projects that require CMake >= 3.12. The minimal required version of CMake in RetDec is 3.6.

[2019-04-22 10:51] MBilalQureshi commented on #553
@s3rvac thank you so much this helped me alot, sorry for late reply. I will contact you if i found any more issue again thank you :)

[2019-04-22 10:53] #553 closed

[2019-04-23 05:53] ihexon opened #557 "add the support using system-wide installed capstone liarary"
the capstone has been installed in system,so I don't want build capstone again when build from source.

In some reason(china), it's too slow to download capstone T_T...you know what I means...

[2019-04-23 05:59] s3rvac commented on #557
Related to (or part of) #356.

[2019-04-23 19:27] TheElementalOfCreation opened #558 "Error during "Linking CXX executable retdec-ar-extractor.exe" on cygwin64"
[code]

[2019-04-24 05:09] s3rvac commented on #558
Thank you for the report. We will try to reproduce it and fix it. We have never really tried building RetDec inside Cygwin (on Windows, we recommend building RetDec without any Unix-like environment with Visual Studio).

[2019-04-24 11:25] #110 closed

[2019-04-24 11:30] sskras commented on #110
Are other changes not linked to this commit?

[2019-04-24 11:36] PeterMatula commented on #110
This was fixed by merging `llvm-8` branch in `llvm` repo: https://github.com/avast/llvm/commit/82632c555520b4f490d33c799aa1256817d734d2
and in `retdec` repo: https://github.com/avast/retdec/commit/7a2018bb4dce191242cd7382390993ff6a8ab865

[2019-04-24 11:51] #540 closed

[2019-04-24 12:05] PeterMatula commented on #557
At the moment, we are using our own Capstone repository, because I made some fixes in there. I would like to use the upstream Capstone - move fixes up. However, I'm not sure about the usage of system Capstone - we are generally using the `next` branch and I don't know how much of it is in `master`, if it gets installed via system package manager, and if it it possible to easily demand a concrete v

[2019-04-24 23:43] TheElementalOfCreation commented on #556
Unfortunately, in my copy of visual studio, cmake does not understand it properly at all, and somehow only finds a python version 1.4 or something, a version which DEFINITELY does not exist on my system.

Os: Windows 10
Method: Visual studio 2017
Cmake command: Whatever the heck visual studio uses. I don't actually know. Edit: Oh, it's this:
[code]
Complete Output:
[code]

[2019-04-24 23:44] TheElementalOfCreation commented on #556
Also, I don't know why it only finds the cygwin python when visual studio has it's own python installed

[2019-04-25 01:32] TheElementalOfCreation commented on #556
Okay, I've managed to manually add:
[code]
to the command line arguments and things so far are going well...

[2019-04-25 01:34] TheElementalOfCreation commented on #556
Okay, I tried to build and now I get
[code]

[2019-04-25 01:40] TheElementalOfCreation commented on #556
Oh, the problem is that "external" does not exist. Wtf?

[2019-04-25 05:20] s3rvac commented on #556
RetDec currently does not support the Ninja generator (see #8). On Windows 10 with Visual Studio 2017, we suggest using the following steps, which we know should work (if the `retdec/build` directory exists, please remove it before proceeding):
1. Press `Windows + r` and type `cmd.exe`.
2. `cd retdec`
3. `mkdir build`
4. `cd build`
5. `cmake .. -DCMAKE_INSTALL_PREFIX=install -G"Visual Studio 15 20

[2019-04-25 05:59] s3rvac commented on #547
Closing as resolved. If you have further questions, please re-open (if the question is related to this issue) or open a new issue.

[2019-04-25 05:59] #547 closed

[2019-04-25 12:08] #279 closed

[2019-04-25 21:27] TheElementalOfCreation commented on #556
Visual studios is being stupid and only seeing the python from cygwin. I have to manually add an argument for that.

Everything worked after I ended up having to manually update my flex installation

[2019-04-28 13:16] humanitiesclinic opened #560 "Problem with Compiling on macOS 10.11"
[code]

I checked and saw that this binary exists: /Applications/Xcode.app/Contents/Developer/usr/bin/make

Apologies as I am not familiar with cmake syntax.

Any suggestions?

[2019-04-29 01:06] silverbacknet commented on #560
What's in the log it pointed to, /Users/user/AppInstalls/zDEVELOP/retdec/build/external/src/yaramod-project-stamp/yaramod-project-configure-*.log ?

[2019-04-29 05:33] s3rvac opened #561 "fileinfo fails with an unhandled error "inconsistant export info size" in fileformat::MachOFormat::initStructures()"
`fileinfo` fails with `"inconsistant export info size"` in `fileformat::MachOFormat::initStructures()`.

## Input

Run
[code]
where `FILE` is:
* [`B0292AB3DA6E24A136EFB32C02FC98E5AE187AFD338FCD5C7A09CF309326A803`](https://www.virustotal.com/#/file/b0292ab3da6e24a136efb32c02fc98e5ae187afd338fcd5c7a09cf309326a803/detection)
* [`EE3F20DA2E23A2D287CCFA2BA7E21F676D6327A8479EDD7AE71463073B52DBFA`](https

[2019-04-29 06:10] s3rvac commented on #560
Apart from the file that @silverbacknet has mentioned, please also attach
[code]
So, to sum up, we will need the following four log files:
[code]
Please, attach them in a single archive.

[2019-04-29 06:48] humanitiesclinic commented on #560
[yaracpp-project-build-err.log](https://github.com/avast/retdec/files/3126179/yaracpp-project-build-err.log)
[yaracpp-project-build-out.log](https://github.com/avast/retdec/files/3126180/yaracpp-project-build-out.log)

[yaracpp-project-configure-out.log](https://github.com/avast/retdec/files/3126181/yaracpp-project-configure-out.log)

![Screen Shot 2019-04-29 at 2 45 12 PM](https://user-images.git

[2019-04-29 07:02] silverbacknet commented on #560
Another autoreconf error. Check this report: https://github.com/avast/retdec/issues/291

[2019-04-29 08:55] humanitiesclinic commented on #560
I tried all the suggestions in #291:
(1) installed autotools
(2) checked if aclocal is installed - yes
(3) make sure autotools, automaker, aclocal, libtool are all available in $PATH
(4) installed gnu-getopt

Still having issues:
[code]

[yaracpp-project-build-err.log](https://github.com/avast/retdec/files/3126625/yaracpp-project-build-err.log)
[yaracpp-project-build-out.log](https://github.com/av

[2019-04-29 10:19] humanitiesclinic commented on #560
Any suggestions, anyone?

[2019-04-29 10:47] metthal commented on #560
According to output in `yaracpp-project-build-err.log`, try installing `libtool` or make sure it's in your `PATH`.

[2019-04-29 12:15] humanitiesclinic commented on #560
Still the same:

[code]

This is what I get when I invoke libtool:
[code]
It exists. But it's throwing an error. Could that be the problem?

[2019-04-29 12:24] metthal commented on #560
That's indeed weird. Can you please try this in some temporary folder?

[code]

[2019-04-29 13:35] humanitiesclinic commented on #560
Tried that.

Output:
[code]

In the same shell/terminal window:
`Users-Air:build user$ libtool`

[code]

[2019-04-29 13:54] metthal commented on #560
So you are not even able to build `yaracpp`, let's go even deeper. Try building YARA itself without any additional layer above it.

[code]

[2019-04-29 14:13] humanitiesclinic commented on #560
I got a problem at ./bootstrap.sh

[code]

[2019-04-29 14:41] metthal commented on #560
From what I googled, could you please try to install `libtool` from brew and make sure it precedes your current `libtool` in `PATH`?

[2019-04-29 15:13] humanitiesclinic commented on #560
u mean "brew install libtool"?

[2019-04-29 15:29] humanitiesclinic commented on #560
i just installed lib tool using

`brew install libtool
`
How do I know where the just-installed libtool is (vs the one that already exists)?

[2019-04-29 15:39] metthal commented on #560
I don't have macOS so I am not sure where brew installs its binaries. Try to find it in your filesystem.

[2019-04-30 05:43] humanitiesclinic commented on #560
ok i managed to compile it after installing lib tool directly from brew. Thank you very much.

Btw, is there only one binary produced, which is `retdec-bin2llvmir`?

[2019-04-30 07:48] humanitiesclinic opened #562 "Is the Output of Retdec Compilable?"
I can decompile binaries successfully. Can I check if I can then compile the output from the decompiler? Is the output C or just C-like?

[2019-04-30 08:00] humanitiesclinic commented on #562
Ok I tried, with no success. Output:

[code]

[2019-04-30 08:06] s3rvac commented on #562
Hi. This question has already been answered in #529, so please refer to it and to the discussion in #45.

[2019-04-30 08:06] #562 closed

[2019-04-30 09:23] humanitiesclinic opened #563 "What Should One Do (Manually) To The Output of Retdec To Make It Compilable?"
Related to #529, #562, #45, but not exactly a duplicate. Also, this is still relevant even when Retdec’s aim is not so much to produce code that can be decompiled as much as to produce code analysable by a human. It is still relevant to someone just trying to analyse the output of Retdec without re-compiling it.

Given the output files of Retdec, what should one do (manually) to make it compilable

[2019-04-30 09:24] s3rvac commented on #560
There should be many binaries and scripts after the installation, including e.g. `$INSTALL_DIR/bin/retdec-decompiler.py` and `$INSTALL_DIR/bin/retdec-fileinfo`.

[2019-04-30 10:37] SamDecrock opened #564 "What is the purpose of "Demangled" comments?"
Hi,

I decompiled some code and it above each (almost unreadable) function name it reads:

`// Demangled:     SomeClass::NiceNameOfTheFunction()`

Why doesn't the decompiler use that function name instead?

[2019-04-30 11:01] humanitiesclinic commented on #563
Any suggestions?

[2019-04-30 13:38] #526 closed

[2019-04-30 13:39] PeterMatula commented on #526
Added builds for macOS and Ubuntu, Debian, and Fedora - always for the latest stable distro release at the time of building RetDec.

[2019-04-30 17:16] radare commented on #526
Awesome thanks!! I will finish the r2pm package as soon as i can

[2019-04-30 18:31] snanang opened #565 "LLVM ERROR: Could not acquire a cryptographic context: The specified procedure could not be found. (0x7F)"
When decompiling my code, I found the following error:
LLVM ERROR: Could not acquire a cryptographic context: The specified procedure could not be found.  (0x7F)

Below are some parts of the messages:
 -> running SelfAssignOptimizer ( 1148.68s )
Warning: out of memory; trying to recover
 -> running VarDefForLoopOptimizer ( 1149.69s )
 -> running VarDefStmtOptimizer ( 1150.00s )
Warning: out of mem

[2019-04-30 18:52] snanang commented on #565
This is the python command I used:
python c:\retdec\bin\retdec-decompiler.py d:\tmp\autodraw.exe

[2019-04-30 18:53] snanang commented on #565
Please help to figure out what I did wromg

[2019-04-30 22:10] silverbacknet commented on #565
That's usually an indication that you've run out of memory. Did you try the 64-bit version?

Still, there are several Autodraws but if it's the one designed to use with Autodesk Inventor, you're talking about a 166mb file, which is going to require an obnoxious amount of memory no matter how you slice it. You should probably examine the file beforehand and determine a good small range of functions

[2019-05-01 03:28] humanitiesclinic opened #566 "Decompile of Kernel Binary Failed"
Tried to decompile a kernel binary but failed.
[code]

Can the program decompile kernel binaries?

If I ``file`` the binary it returns that it is a ``Mach-O 64-bit executable x86_64``.

[2019-05-01 04:42] s3rvac commented on #565
Hi. As @silverbacknet wrote above, you do not have enough memory, which is supported by the following lines in the output:
[code]
The `Could not acquire a cryptographic context` error is caused by insufficient memory and has already been discussed in #73 and #387, so see these two issues for more details. My suggestion is to use selective decompilation to decompile only the given functions:
[code]

[2019-05-01 04:42] #565 closed

[2019-05-01 05:41] s3rvac commented on #564
Hi. The reason is that `SomeClass::NiceNameOfTheFunction()` is not a valid C identifier, so we have decided to put the demangled name of functions in comments and use mangled names in the code (they are valid C identifiers). In general, we strive to make the resulting C code conform to [ISO C99](https://en.wikipedia.org/wiki/C99). If we (ever) support decompilation into C++, we will definitely con

[2019-05-01 05:41] #564 closed

[2019-05-01 06:12] s3rvac commented on #566
Hi. Could you please provide us the input binary that you are trying to decompile? Either publicly here or privately via email.

[2019-05-01 08:00] snanang commented on #565
Thank you for your prompt reply and suggestion, I will download the 64 bit retdec and try to decompile certain range.
The autodraw is the program that I developed my self and I lost the source code due to hard disk crash.

[2019-05-01 08:24] s3rvac commented on #563
Hi. I will try to provide answers to your questions. @PeterMatula can supply additional information in case I miss something.

As for question number (1), we strive to produce output that conforms to [ISO C99](https://en.wikipedia.org/wiki/C99). So yes, the output should be C, not just C-like. However, things are not that simple, see below.

As for question number (2), there are generally two reas

[2019-05-01 08:35] s3rvac commented on #563
As for this point:

I am afraid there won't be any such tutorial as there is a huge variety of different errors that could go wrong. However, I have been wrong before, so maybe someone actually writes it (it won't be us, though). The best instructions we can give you at the moment are:
1. Try to compile the generated C source code.
2. Take a look at the first error, understand what it says, and fi

[2019-05-01 11:05] SamDecrock commented on #564
Thanks, I understand.

[2019-05-01 16:04] humanitiesclinic commented on #563
Your answer's very helpful so far @s3rvac. Even though as you said "this might not be what [I am] looking for", it's a good start, and at least I can use it as a starting point. thank you very much! I will read the publications to fill in the gaps, and if there's anything else I will post again.

[2019-05-01 16:05] humanitiesclinic commented on #566
Email sent to s3rvac@gmail.com

[2019-05-01 17:30] humanitiesclinic commented on #566
Btw, a related question is: if I manage to successfully decompile a kernel binary, how do I know where the system call handlers exist? Maybe you can use the binary I just sent as a case to discuss. tq

[2019-05-02 04:59] s3rvac commented on #566
@humanitiesclinic I have not received the email. Could you please try to send it again? Also, check if the size of the file does not exceed the maximal permissible limit.

[2019-05-02 16:28] humanitiesclinic commented on #566
[kernel.zip](https://github.com/avast/retdec/files/3138983/kernel.zip)

[2019-05-02 16:29] humanitiesclinic commented on #566
posted it here, @s3rvac. Also resent the email.

[2019-05-03 05:00] s3rvac commented on #566
Thank you. @PeterMatula Can you please take a look at this?

[2019-05-03 13:05] s3rvac opened #568 "fileinfo fails with an unhandled error "bad library ordinal" in fileformat::MachOFormat::initStructures()"
`fileinfo` fails with `"bad library ordinal"` in `fileformat::MachOFormat::initStructures()`.

## Input

Run
[code]
where `FILE` is:
* [`0D13AF5717833A968E8E8838E0F65E8197A907AC3B475A4752ABFE3D33E2493C`](https://www.virustotal.com/#/file/0D13AF5717833A968E8E8838E0F65E8197A907AC3B475A4752ABFE3D33E2493C/detection)

## Output

[code]

## Expected output

`fileinfo` does not fail with an unhandled err

[2019-05-03 17:00] humanitiesclinic opened #569 "Decompile of Binary Giving Strange Output"
[cmpdylib.zip](https://github.com/avast/retdec/files/3142839/cmpdylib.zip)
^
This executable came from the Mac, it's a command from /usr/bin/cmpdylib.

When I decompiled it, it seemed to be successful:

[code]

However, when I opened the .c file, I saw that there was barely any code in the main function:

[code]

If you man cmpdylib, the executable is supposed to do much more than that:

[code]

A

[2019-05-03 17:14] silverbacknet commented on #569
Unfortunately, decompiling 64-bit binaries still doesn't work as well as 32-bit. This sample might help further that work, though.

[2019-05-03 21:56] #417 closed

[2019-05-04 05:27] s3rvac commented on #569
Thank you for the report. @PeterMatula, can you please take a look?

[2019-05-04 07:51] humanitiesclinic commented on #569
Oh I see. Was there any indication in the README or the Retdec website that 64-bit binaries have problems, which I have missed?

[2019-05-05 06:40] s3rvac commented on #569
No, you haven't missed anything. It is just that support for decompilation of 64b binaries was added only recently (in the v3.3 release on March 18, which is 1,5 months ago), and we have been working on improving it since then. @PeterMatula will verify the binary you have submitted and will let you know.

[2019-05-08 19:53] denji commented on #13
`retdec-decompiler.py --backend-disabled-opts DeadCode,DeadLocalAssign` LGTM

[2019-05-08 20:12] denji commented on #13
`env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2 retdec-decompiler.py --backend-disabled-opts=DeadCode,DeadLocalAssign --no-memory-limit ./app.bin` LGTM
* [`dead_code_optimizer`](https://github.com/avast/retdec/blob/v3.3/include/retdec/llvmir2hll/optimizer/optimizers/dead_code_optimizer.h#L113)
* [`dead_local_assign_optimizer`](https://github.com/avast/retdec/blob/v3.3/include/retdec/llv

[2019-05-10 03:53] humanitiesclinic commented on #569
ok noted, is there any update? @PeterMatula

[2019-05-10 03:53] humanitiesclinic commented on #566
Is there any update @PeterMatula @s3rvac

[2019-05-14 15:40] daatno opened #571 "How to debug LLVM IR errors?"
Dear Retdec Devs,

do you know what can be done with llvm::Instruction or llvm::Function to make assertions provide more detail than:
"Running phase: LLVM ( 92.48s )
Instruction does not dominate all uses!
  %14 = load i32, i32* @r6
  %11 = trunc i32 %14 to i8
LLVM ERROR: Broken function found, compilation aborted!"
?
I have searched LLVM classes previously(to enable some other feature), and I fou

[2019-05-15 05:04] s3rvac commented on #521
Another sample:
* `428C956647645F2D25F82764A085D5E15ED361CDA547D30C10084E323B0226C9`

[2019-05-15 05:49] s3rvac commented on #571
@PeterMatula How do you debug such errors when developing `retdec-bin2llvmir`?

[2019-05-15 08:44] SamDecrock opened #572 "Is it possible to guess the amount of memory RetDec will need for decompilation?"
Is there a way to guess the amount of memory retdec is going to need for decompilation?

I'm thinking of creating a web service to automate decompilation. The idea is to spin up a cloud instance with the right amount of memory, do decompilation and shut it down once decompilation is done.

To optimize costs (= decide which cloud instance to spin up) it would be good if I could know how much memory

[2019-05-15 09:28] TheElementalOfCreation opened #573 "Decompilation of [REDACTED].so.bc failed"
I've sent an email to s3rvac@gmail.com with a google drive link to the input file, the output files, and the file that contains the output of running the decompiler. Subject line is the same as this issue

[2019-05-15 09:31] TheElementalOfCreation commented on #552
@s3rvac Would it be possible for you to send me the final output? I can't get my machine to accept using that much memory even through paging files.

[2019-05-15 12:16] s3rvac commented on #572
Hi. I am afraid that there is no simple relation between static properties of the input file and the amount of memory RetDec will need to decompile it. A rule of thumb may be _the bigger the file, the more memory RetDec may need_, but this is generally an oversimplification. The amount of memory depends on many factors, including the number of instructions in the file, whether RetDec is able to co

[2019-05-15 12:16] #572 closed

[2019-05-15 12:36] SamDecrock commented on #572
Ok, I figured the _the bigger the file, the more memory RetDec may need_ was going to be my only option.

Another question, is there a way to continue decompilation where it left it of? That way I can start on a normal machine but continue on a machine with more memory in case decompilation stops due to memory shortage.

[2019-05-15 13:38] SamDecrock opened #574 "Can I continue decompilation on a different machine after failure?"
Is there a way to continue decompilation where it left it of? That way I can start on a normal machine but continue on a machine with more memory in case decompilation stops due to memory shortage.

[2019-05-15 22:46] MagnificentS opened #576 "Error: Loading of the config failed: Missing '}' or the object member name @ line ="
![image](https://user-images.githubusercontent.com/8756646/57814367-b4fb1480-7730-11e9-8e26-395181a118a9.png)
is there anyway to continue from where it stopped?

[2019-05-16 01:09] MagnificentS commented on #576
I tried multiple times to decompile just one function and i kept getting not enough resources error

[2019-05-16 06:21] s3rvac commented on #576
Hi. Could you please attach or send us the input binary file that you are trying to decompile (`BF.exe`) and the parameters that you have used when running `retdec-decompiler.py`? We will need them to reproduce the issue. If we cannot reproduce the issue, it will be much harder to find what is wrong.

[2019-05-16 06:30] s3rvac commented on #552
Unfortunately, I do not have it (AFAIK I have not run the whole decompilation; I have only checked that the decompilation can pass the `Conditional branch optimization` phase). Let's wait until @PeterMatula analyzes the memory requirements from my report above.

[2019-05-16 06:35] TheElementalOfCreation commented on #552
So I finally managed to get one of my machines to accept a 200 gb paging file and have now run the program. Unfortunately, it's been stuck on the conditional branch part for the past 16 hours. I'm going to let it keep running overnight and see what happens, but now I'm concerned that it may not ever finish...

[2019-05-16 06:35] s3rvac commented on #573
Thank you for the report. From the output, `retdec-llvmir2hll` has failed in phase `signed/unsigned types fixing`. This might suggest that the reason is insufficient stack space (see #47, #64, #454, #465). I will try to reproduce the issue to confirm.

[2019-05-16 06:38] s3rvac commented on #552
I really suggest waiting until @PeterMatula analyzes the memory requirements. A decompilation taking that much time won't probably produce any meaningful results.

[2019-05-16 10:11] s3rvac commented on #574
Hi. Good question. The answer is no and yes, depending on how you look at it :-). I will give you a description of the current status and you can then decide by yourself.

_No:_ There is no built-in decompilation parameter that would allow you grab the intermediate outputs, copy them somewhere else, and continue the decompilation from there. Also, the decompilation process is done via a chain of s

[2019-05-16 10:11] #574 closed

[2019-05-16 10:19] s3rvac commented on #573
I was able to reproduce the issue. It is indeed caused by insufficient stack space. If you are on Linux, you can increase the maximal stack size via `ulimit -Ss X`, where `X` is the new size (you can also use `ulimit -Ss unlimited` to remove the limit entirely). After removing the stack limit, I was able to get through that phase.

I will leave the issue open for further future investigation why s

[2019-05-16 22:10] MagnificentS commented on #576
How do i send? Link here?

[2019-05-17 04:30] s3rvac commented on #576
If you do not want to share it publicly, you can send it privately to my email (it is [in my profile](https://github.com/s3rvac)). This would greatly simplify the debugging. Also, please give us the parameters that you have used when running `retdec-decompiler.py`.

[2019-05-17 10:12] denji commented on #13
[code]

[2019-05-20 23:01] TheElementalOfCreation commented on #552
@s3rvac So I've stopped that decompilation after a few days of it remaining at that step. I then started modifying the command to not do certain things. First I removed "conditional branch optimization". Then the program started using massive amounts of memory (and then took so long that I stopped it manually) on "stack optimization". I've now also taken that out just to see what the rest of the p

[2019-05-21 05:19] s3rvac commented on #552
Unfortunately, there is not. The JSON file is a configuration file that tools which are part of the RetDec toolchain use to communicate with each other. The reason is that representing some pieces of information via LLVM IR is really cumbersome, which is why we have decided to use a separate config file.

[2019-05-21 05:24] TheElementalOfCreation commented on #552
@s3rvac ah I was hoping I might be able to see some of the class hierarchies in this one like I have in other projects. Being able to do so would be extremely useful for what I am trying to do.

[2019-05-25 15:46] s0i37 opened #578 "types reconstruction"
Hello.
I cant understand how can I reconstruct types with retdec-decompiler.py.
I expected to see struct declaration above function listing (how implemented in snowman decompiler)

[2019-05-27 05:33] s3rvac commented on #576
Thank you for the input binary and PDB file. I have tried to reproduce the issue, but I am unable to do so as the decompilation succeeded in my case. However, it took astonishing 46 hours. This is probably because of the size of the input file (50 MB).

Do you have the `BF.exe.json` file from your failed decompilation? If so, could you please share it with us? We can at least take a look why `retd

[2019-05-27 11:19] MagnificentS commented on #576
Oops. I deleted it recently due to low disk space. Mine took 40 hours before the crash. I don't know if I have another 40 hours in the next few days to reproduce the json.

[2019-05-27 11:33] s3rvac commented on #576
That's alright. I will close the ticket for now as we cannot reproduce the issue. If you ever encounter it again, feel free to re-open it and attach the JSON file.

[2019-05-27 11:33] #576 closed

[2019-05-29 10:42] PeterMatula commented on #268
Added to `master` in 3905f47ff4687e12babd2bd03a3d330bd8a758a7.
We will not make a new release right away:
1. The support is experimental. When more people start to use it, they are likely to encounter some bugs we will have to fix.
2. There are more things we would like to have in the next release.

[2019-05-29 10:42] #268 closed

[2019-05-31 06:13] s3rvac opened #581 "Five regression tests concerning parsing of Mach-O via fileinfo are failing with the Debug build"
Five regression tests concerning parsing of Mach-O via fileinfo are failing with the Debug build of RetDec.

# Steps to reproduce

1. Build the current `master` of RetDec in the Debug mode.
2. Run [our regression tests](https://github.com/avast/retdec-regression-tests).

# Expected output

[code]

# Actual output

[code]

The failed tests are:
[code]

# Notes

* All failures are related to parsing

[2019-05-31 06:24] s3rvac commented on #581
I can confirm that the issue has started since the update to LLVM 8.0:
[code]

[2019-06-02 02:04] humanitiesclinic commented on #569
Hello @PeterMatula @s3rvac, has there been any progress made on this issue?

[2019-06-02 02:04] humanitiesclinic commented on #566
Hello @PeterMatula @s3rvac, has there been any progress made on this issue?

[2019-06-03 08:49] PeterMatula commented on #96
With the new demangler (#95):
* `?debugf@@YAXPB_WZZ` -> `void __cdecl debugf(wchar_t const *)` : still bad
* `_ZL21size_of_encoded_valueh` : OK
* gcc examples to look at : OK
* ms and borland examples to look at : nothing, but they look crazy, https://demangler.com/ will not handle them either.

So the only one to look at is `?debugf@@YAXPB_WZZ`.

[2019-06-03 08:52] PeterMatula commented on #400
These examples does not get demangled even with the new demangler #95. But the new demangler uses LLVM demangler, so if the support is added there, we should get it too.

[2019-06-03 08:57] #95 closed

[2019-06-04 04:59] s3rvac commented on #569
Hi @humanitiesclinic. You will have to wait until @PeterMatula takes a look at this issue.

[2019-06-04 04:59] s3rvac commented on #566
Hi @humanitiesclinic. You will have to wait until @PeterMatula takes a look at this issue.

[2019-06-05 13:57] PeterMatula commented on #201
#577 solved problems with ELF object files. Tests added in https://github.com/avast/retdec-regression-tests/commit/9f0af1ba035b63a2302be46a649adf3c4cede05a. COFF object files are still not OK.

[2019-06-05 14:06] PeterMatula commented on #184
Fixed by #577, test added in https://github.com/avast/retdec-regression-tests/commit/e79f5f723c7e1a00e82ecfa57d30b4454d33afdc.

[2019-06-05 14:06] #184 closed

[2019-06-05 14:24] PeterMatula commented on #480
Fixed by #577. The current output is:
[code]

Work with arrays is not very beautiful, but that could be solved in a dedicated issue. The primary problem with relocations in ELF object files was solved.

Test added in https://github.com/avast/retdec-regression-tests/commit/e132495a0b4adae9b5a3cdcd0f5420419281821f.

[2019-06-05 14:24] #480 closed

[2019-06-06 04:52] s3rvac commented on #521
Another sample:
* `9C0E00F2E8D66319B8D4F867CBBE7E7845BB7A60766637768BC41741DB838F72`

[2019-06-06 05:04] s3rvac opened #582 "retdec-unpacker crashes with "LLVM ERROR: out of memory" when unpacking an ELF binary"
`retdec-unpacker` crashes with `"LLVM ERROR: out of memory"` when trying the unpack the given ELF binary file.

## Input

Run
[code]
where `FILE` is:
* [`194DFCAD928AAB20EFBE8B70695A560191CAEEC09425C7CDFA5E74C250989E34`](https://www.virustotal.com/gui/file/194dfcad928aab20efbe8b70695a560191caeec09425c7cdfa5e74c250989e34/detection)

## Output

[code]

## Expected output

`retdec-unpacker` does not

[2019-06-06 19:28] jpmorrison opened #583 "Function arguments wrong"
Am I doing something wrong here? I get a file.exe.c but the function arguments look wrong - they are all the same. I've tried retdec-v3.3-windows-64b.zip, retdec-v3.3-windows-32b.zip and retdec-v3.3-ubuntu-64b.zip with the same results

I run the following which completes with a couple of warnings about `break` outside of a loop or a switch statement.

py -3 retdec-decompiler.py file.exe

Here's s

[2019-06-08 05:08] trippleflux opened #584 "retdec-decompiler.py: error: the following arguments are required: FILE"
The retdec\bin directory is already in my windows env path.
I am using retdec-offline plugin for binary ninja, upon decompilation the plugin generated the following command line for retdec-decompiler.py :
[code]

But no matter what i have done, retdec always failed to seek the FILE or tmpursu763x

[code]

The generated config file and the target file attached :
[FILE.zip](https://github.com/avast/

[2019-06-10 07:02] trippleflux commented on #584
Found out the solution is to put or hard-coded the python path and put the hardcoded "retdec-decompiler.py" path, is there any plan to make retdec-decompiler.py understand it's own relative-path?

[2019-06-13 09:47] mtkumar82 commented on #92
git fetch --all
git reset --hard origin/{{your branch name}}

This worked for me, May be helpful for other.

[2019-06-14 15:53] #581 closed

[2019-06-17 05:28] muriminyaga commented on #92
Yes this works..thanks

[2019-06-18 09:03] xkubov opened #589 "Parameters with type float/double not detected on ARM64"
When decompiling ARM64 binary containing a function with FP parameter RetDec does not detect these parameters. This is because the specification of ARM64 calling convention defines that FP parameters are passed in subregisters of larger vector registers and parameter analysis expects to find usage of these registers. However, in RetDec are float and double ARM64 registers implemented as separate s

[2019-06-20 07:17] s3rvac opened #590 "retdec-fileinfo does not report an error or warning when a non-existing file is passed via --dlls"
`retdec-fileinfo` does not report an error or warning when a non-existing file is passed via `--dlls`.

## Input

Run
[code]
where `FILE` is an arbitrary PE file and `x` is a non-existing file.

## Output

`retdec-fileinfo` succeeds and prints the `Missing dependencies` section, this silently ignoring the fact that file `x` does not exist.

## Expected output

`retdec-fileinfo` either fails with a

[2019-06-21 11:59] s3rvac commented on #590
Fixed in #594.

[2019-06-21 11:59] #590 closed

[2019-06-23 09:10] dangercrow opened #595 "Failure to decompile after Conditional branch optimization"
Attempting to decompile a 9MB `.so` on arm arch.

First attempts failed with OOMs, so I gave it another go with `--no-memory-limit`, and it spent a while (and >24GB of memory) before failing like this:
[code]

Willing to supply both the input file and crash dump via email on request.

[2019-06-23 09:12] dangercrow commented on #595
I noticed this seemed similar to #552 - and indeed if it is expected to take >32GB memory (as that file did) then I might have some issues!

[2019-06-23 16:29] s3rvac commented on #483
Closing due to inactivity. If the issue persists, please re-open and provide answers to the above questions from @metthal.

[2019-06-23 16:29] #483 closed

[2019-06-23 16:30] s3rvac commented on #504
@PeterMatula Can you please take a look at this?

[2019-06-23 16:39] s3rvac commented on #514
Hi. You have correctly identified the generated code to come from GCC. The code contains startup and exit routines that are used to e.g. initialize and de-initialize the standard C library.

Although RetDec supports removal of statically linked code coming from compilers and standard libraries, there is a huge variety of different compilers, compiler versions, and standard libraries, that we are u

[2019-06-23 16:39] #514 closed

[2019-06-23 16:41] s3rvac commented on #534
Closing due to inactivity. As @metthal has written, if you have any issues with the decompilation itself, then please re-open and provide logs from the decompilation.

[2019-06-23 16:41] #534 closed

[2019-06-23 16:49] s3rvac commented on #141
Hi @eagleFromHeaven. Unfortunately, we do not have any estimates. This feature does not represent a priority for us, so any help would be appreciated.

[2019-06-23 16:53] #560 closed

[2019-06-23 16:56] s3rvac commented on #578
Hi. We are not sure what do you mean by _How can I reconstruct types with retdec-decompiler.py_. Could you please elaborate and give us an example (input binary file, decompilation command, expected output, actual output)?

[2019-06-23 16:57] s3rvac commented on #583
@PeterMatula Can you please take a look at this?

[2019-06-23 17:00] s3rvac commented on #595
Hi. Thank you for the report. This indeed looks like a similar issue to the one in #552. Could you please either attach the input binary that you are trying to decompile here or send it to peter.matula@avast.com so that @PeterMatula can take a look at this?

[2019-06-23 17:03] dangercrow commented on #595
Have sent it over to him.

[2019-06-23 17:29] s3rvac commented on #584
Hi. This seems to be an issue in retdec-offline (a 3rd-party project that we have no affiliation with). As you can see in our [README](https://github.com/avast/retdec#windows), the way to run RetDec on Windows is by specifying the path to the `retdec-decompiler.py` script:
[code]
Specifying the full path to `python.exe` should not be necessary (unless it is not reachable from your system's `PATH`)

[2019-06-24 07:44] #521 closed

[2019-06-24 08:07] PeterMatula commented on #582
Fixed in a2cf4b468874471a0a227d62b6a613bca3728135.

[2019-06-24 08:07] #582 closed

[2019-06-24 08:44] PeterMatula commented on #563
My two cents:
* Don't try to re-compile RetDec's output.
* Don't try to manually modify and re-compile RetDec's output.

Currently, we are not producing output of sufficient quality to gain anything from compiling it. I doubt this will get better in the future. Decompilation is hard and the way we do things, it is pretty much impossible to decompile a binary of some complexity into something that

[2019-06-24 08:44] #563 closed

[2019-06-24 08:52] PeterMatula commented on #539
Thanks for the suggestions, I like them both.

[2019-06-24 09:07] s0i37 commented on #578
Ok.
I expect to see structure declaration before function. It is similar snowman/smartdec decompiler.
For example I want to decompile some function who use some type or struct. I think that decompiler could recognize using fields and types of structure. And I expect somethink like that:
[code]

However retdec decompiler will return pseudo code like this:

[code]

[2019-06-24 10:34] s3rvac commented on #578
Thank you for the explanation. Could you please also give us the input binary? In some cases, RetDec is able to recognize structured types, but the recognition does not seem to work in this case.

[2019-06-24 13:22] s0i37 commented on #578
May be I needed to specify some flag?
I used a tiny self-written code:
[code]

[a.out.zip](https://github.com/avast/retdec/files/3320985/a.out.zip)

[2019-06-24 15:46] PeterMatula commented on #571
1. I don't know how to make LLVM print more information. I don't think you can enable more verbose assert/error messages.
2. This is not LLVM's problem, if decompilation fails with broken LLVM module, it is most likely RetDecs fault.
3. There is no concept of addresses in LLVM - it does not know anything about them, so it cannot tell you this information. See [wiki](https://github.com/avast/retdec

[2019-06-24 15:46] #571 closed

[2019-06-24 16:47] s3rvac commented on #578
Thank you. @PeterMatula, can you please take a look?

[2019-06-24 18:54] silverbacknet commented on #555
That will need to get into LLVM and Capstone first: https://github.com/aquynh/capstone/issues/560

[2019-06-25 02:59] mendax47 opened #597 "Decompilation error"
Having This Problem For A 64bit PE File

![image](https://user-images.githubusercontent.com/6140928/60065810-ec44e400-9726-11e9-81a0-c65afeed44a8.png)

![image](https://user-images.githubusercontent.com/6140928/60065912-3ded6e80-9727-11e9-8e40-87a58fdfe8c6.png)

Hexray Looks Fine:
![image](https://user-images.githubusercontent.com/6140928/60065995-8dcc3580-9727-11e9-96f9-6b44d8b4a4b0.png)

On The

[2019-06-25 11:47] #561 closed

[2019-06-25 11:47] #568 closed

[2019-06-25 15:48] #535 closed

[2019-06-25 15:51] PeterMatula commented on #535
The reported issue was fixed, but the decompilation (at least on my machine) does not end successfully - ends on `out of memory` in the backend's `SimpleCopyPropagationOptimizer`. This is a known issue (#13).

[2019-06-25 16:00] trippleflux commented on #584
@s3rvac
What i have meant is running retdec without hardcoding the full retdec-decompiler.py path by adding the retdec bin directory into environment variable.

[2019-06-26 10:38] PeterMatula commented on #544
Maybe we could do this, it may not be a problem.

Can you do the following?
1. Provide a sample where this occurs?
2. Describe the issues in this statement: _This also causes some issues when it gets passed to the decoder._

[2019-06-26 10:48] PeterMatula commented on #556
Ok, seems like it is working for you now. If not, re-open.

To summarize:
* If/When we bump minimal required version of CMake to 3.12, we will change `PythonInterp` to `Python`.
* Ninja is not supported at the moment.
* Make sure the correct CMake version is in the first place in the `PATH` variable, or manually add an argument as you did.
* It is the safest to use the recommended build steps.
* W

[2019-06-26 10:48] #556 closed

[2019-06-26 14:17] #460 closed

[2019-06-26 14:29] PeterMatula commented on #460
127 import entries were parsed, but it looks like they are all junk. Hashes are computed from imports' function names and library names. If these are not valid, import is skipped - not used in hash calculation. In this case, all imports were skipped and the resulting string used for computation was empty.

We don't want to be too clever and try to remove what looks like corrupted imports.

Our has

[2019-06-26 15:49] metthal opened #599 "Fileinfo produces wrong resources for a specific sample"
Fileinfo produces wrong resources for sample `00003B88CF622D8213B956201BC5BEE5E1097F99EF6D7DEDECE36E42A191104F`. Our output:

[code]

However offset and size does not match either `objdump`, LIEF nor PEView. Example of the output from `objdump`:

[code]

[2019-06-27 02:05] bmourit commented on #544
Hello,

If i recall correctly, I believe the problem was happening when there is a function at the start of a section, but the function name isn't in the symbol table.... But, it turns out the real issue with this may be do to the .note section being decompiled as code somehow, which messes up the decoding.

Here is the kernel module in question:
[oem.ko.zip](https://github.com/avast/retdec/files/

[2019-06-27 07:49] PeterMatula commented on #544
Thanks, if these issues happen while decompiling the given sample, I will look into them as well.

[2019-06-27 10:01] s3rvac commented on #584
On Windows, this can be achieved as follows:
1. Add the path to `retdec\bin` into your system's `PATH`.
2. Open a new instance of `cmd.exe`.
3. Run `retdec-decompiler.py`. If Windows ask you by which application you want to open the script, select your Python installation.

After this, you should be able to run just `retdec-decompiler.py` (i.e. without `python` in front) from the command line inst

[2019-06-27 10:25] s3rvac commented on #439
For everyone still having this issue: Could you please try the steps from [this comment](https://github.com/avast/retdec/issues/439#issuecomment-452269911) to see whether it resolves the issue? If not, could you please give us the full output and log files?

[2019-06-27 12:17] metthal commented on #415
Additional anomalies proposed:
* Detection of PDB paths that was purposefully truncated (like in `af4db267da79adc536f4fdae30860d92b384a39acb8a7fa6ed1b99ad66310188`)

[2019-06-27 13:42] xkubov commented on #439
Hi, I had the same issue and I've been able to fix it by these steps:

OpenSSL issue occurred because `cmake` was unable to locate it. I fixed this issue by explicitly exporting environment variables with brew installed `openssl` paths:

[code]
Then I stumbled on the same issue with `yaracpp` as you. The version of clang that is used by `autoconf` (installed by Xcode's command-line tools) has inva

[2019-07-01 07:50] PeterMatula commented on #583
@xkubov will take a look.

[2019-07-01 07:56] PeterMatula commented on #578
In general, we don't reconstruct structure types in a case like this - unless the info about structured types comes from debug information or some other reliable source. Moreover, our work with structures is often incorrect - we do not correctly replace use of its members with use of structure.

We will look into the sample you gave, compare results with Snowman output, and try to figure out how t

[2019-07-01 08:18] PeterMatula commented on #578
I added this to a new milestone, since we would like to improve a `RetDec <-> {IDA, r2, users}` interactions by the end of the summer and this issue is related to it.

[2019-07-01 08:19] PeterMatula commented on #435
I added this to a new milestone, since we would like to improve a `RetDec <-> {IDA, r2, users}` interactions by the end of the summer and this issue is related to it.

[2019-07-01 08:25] PeterMatula commented on #435
The current state regarding your points:
* It is possible to give RetDec a JSON file with information about functions. It then should be used to name them. This mechanism is use in [retdec-idaplugin](https://github.com/avast/retdec-idaplugin). It is not documented and tested outside the plugin. We will write some plugin-independent tests to make sure it works and create a wiki page tutorial.
* Rel

[2019-07-01 08:37] PeterMatula commented on #470
Can you share the input file?

Yes, we are working on RetDec improvements. Some of the issues you report will be addressed in the milestone I added to this ticket.

I would also like to inspect, why there is less code produced by RetDec, but it is impossible to do without the input sample.

[2019-07-01 08:43] PeterMatula commented on #452
Our current handling of structured type is insufficient - we often assign structured type to some variable, but do not fix usage of its members. So then we have both a big structure and a separate member variables.

This is related to using structure type information from users (and IDA, r2, ...) - we will look into it over the summer.

[2019-07-01 19:11] nickolai-voyage commented on #381
https://xkcd.com/979/

[2019-07-01 19:16] Shravankumarhiregoudar commented on #92
Even after performing the above steps my issue was not solved.
So, unfortunately, I created a new folder and cloned.

[2019-07-02 11:53] xkubov commented on #583
Hi, by looking at the disassembly code that you have provided I cannot deduce why would RetDec output such C code.

Are you able to provide the binary file which you tried to decompile?

[2019-07-03 19:01] jpmorrison commented on #583
Can I send the file privately? Also file is 34/66 on virustotal but I think that's a false positive

[2019-07-04 10:59] xkubov commented on #583
Yes of course. You can send it to my email adress xkubov@gmail.com.

[2019-07-04 19:20] arm-in opened #604 "Graphviz dot.exe running forever"
Please allow me a question:

* Given an *.exe file that I would like to decompile
32bit
x86
Windows
PE
Visual Studio 6
C++

* File Size is 1600 KB

* RetDec is taking about 1 hour for decompilation.

* Now RetDec is emitting 7485 `example.exe.c.cfg.function_123456.dot` files (control flow)
13.6 MB in total
Graphviz is taking some time to generate the PNGs
* The `example.exe.c.cfg.entry_point.dot`

[2019-07-04 23:53] leftmostcat opened #605 "Unhandled type conversion introduced by new demangler"
Attempting to decompile the demo at https://www.gamepressure.com/download.asp?ID=7338 results in the following error:

    convertValueToType(): unhandled type conversion
      call void @_free(i32* @317)
    i32

After bisecting, ed685a6fde4a4ca096a3ef02c32edd9d432b4503 is indicated as the culprit commit.

[2019-07-05 11:20] twitzelbos commented on #558
This and other tools in the retdec build are missing the link to the two libraries -lshlwapi -lz
I manually winged it for the few affected bins and got it to compile.
Unfortunately, I'm not versed enough in cmake to fix this properly, so if someone could point me in the right direction, I'll gladly fix it and push it.

[2019-07-07 12:03] twitzelbos commented on #558
Update: I made some tweaks to the cmake files that make the whole package compile smoothly now and also put in a pull request. Let's see how this fares. I think the crux here is that msys/mingw has behavior that's a mix between Windows typical and Linux behaviors.

[2019-07-08 12:16] s3rvac commented on #439
OpenSSL-build-related issues should be fixed by #601 (already merged into `master`). We still need to resolve the yaracpp-build-related issues though.

[2019-07-08 13:52] xkubov commented on #583
I received your email and was able to reproduce your issue.

The invalid call of functions `wsprintfA` and `function_402bb0` was created because function optimization wasn't able to find proper arguments of these function calls. The optimization was able to find out that function `function_402bb0` has 4 parameters by analyzing its definition. However, during the analysis of each call of this funct

[2019-07-08 16:43] Dj-jom2x opened #609 "lshttpd x86-x64 unpacker?"

[2019-07-08 17:00] metthal commented on #609
Could you please provide more description?

[2019-07-08 17:36] xkubov commented on #569
Hi, I tried to decompile the file that you have provided and I was able to reproduce your issue.

From analyzing dissasembly output it is possible to see that there is function stub called from main (also located in main). This function then jumps into (invokes) `_xcselect_invoke_xcrun` function.

Dissassembly of input file:
[code]

This file seems to be very optimized, nonetheless, retdec should

[2019-07-09 03:29] Dj-jom2x commented on #609
sorry my bad.. :) i only see x86 one on signature.. i wonder if somehow retdec had x86_64 signiture for lshttpd upx.. :) thank you

[2019-07-09 11:42] s3rvac commented on #609
Just for future reference, the x86 signature is in `src/unpackertool/plugins/upx/upx_stub_signatures.cpp`:
[code]

[2019-07-09 11:47] twitzelbos commented on #583
Hello,
I'm having a similar issue here. I'm getting decompiles that look like this:
                        int32_t v35 = *(int32_t *)(v6 + 60) / 2; // 0x40123d
                        g2 = v35;
                        *(int32_t *)(v14 - 4) = v35;
                        g7 = v14 + 3668;
                        *(int32_t *)(v14 - 8) = v6 + 64;
                        *(int32_t *)(v14 - 12) = g7;

[2019-07-09 12:04] s3rvac commented on #605
Hi. I have tried decompiling the input binary file via `retdec-decompiler.py lego_star_wars_pc_demo_final.exe` with the debug build of the current `master` on Linux, but I am unable to reproduce the issue. I have also tried disabling the unpacking step, but the decompilation still succeeds.

Could you please provide the following information?
* What operating system do you use? If Linux, which dis

[2019-07-09 12:04] #439 closed

[2019-07-09 12:06] s3rvac commented on #439
The yaracpp-related issues should be fixed by #611 (already merged into `master`). If the issue persists, please either re-open the issue or open a new one, depending on the error that you get.

[2019-07-09 12:26] Dj-jom2x commented on #609
this retdec at ida 7 is very nice btw.. if theres sp error .. i can just use this to decompile it. because hex ray wont let me.. <3 i will watch this issue. i hope if they had time someone might add it.

[2019-07-10 00:59] silverbacknet commented on #609
x64ElfLzmaSignature should figure it out without any special casing, but there's a typo:

0x0F, 0x85, 0x6C, 0x0A, 0x00, 0x00, // JNZ rel +0xA6C

should be

0x0F, 0x85, 0xC6, 0x0A, 0x00, 0x00, // JNZ rel +0xAC6

I will look at some more binaries before I'm 100% on that, but it sure looks like a typo.

[2019-07-10 01:40] silverbacknet commented on #609
I ran UPX on a few files and I'm getting a totally different signature. They seem to have significantly optimized the loader for the 3.95 release, looks like more work. The only older UPX-compressed file I can find also had a 0xC6 where 0x6C was indicated, though.

[2019-07-10 03:51] twitzelbos commented on #583
I have a similar issue with decompiling code that was compiled with MSVC++ 6.0. The decompiled code looks something like this:
[code]
which looks wrong on the function arguments to me. The according dsm section is like this:
[code]

Is this the expected output, or is there something amiss.

Thank you for your help.

[2019-07-10 07:13] s3rvac commented on #558
Just for future reference, the PR where this is being worked on is #606.

[2019-07-10 09:37] xkubov commented on #583
By looking at the code snippets that you have provided it seems like the same issue, but I cannot be sure without trying to decompile the file.

It seems like the optimization responsible for analyzation of function arguments was provided information about types and names of standard function `wcsncpy` and after analyzation of code before the call of this function, it was unable to find correct st

[2019-07-10 10:16] s3rvac commented on #604
Hi. Unfortunately, when the decompiled code is huge, call graphs (`.cg.dot` files) and control-flow graphs (`.cfg.dot` files) may also be huge. The reason is that at present, we emit all the available information into the graphs, which can make them very big. To solve this, the graphs would have to be somehow split or parts of them would have to be abstracted away. Frankly, I am unsure if we ever

[2019-07-10 10:19] s3rvac commented on #584
Closing due to inactivity. If the issue persists, please re-open (but please read the above comment and give us your feedback on it).

[2019-07-10 10:19] #584 closed

[2019-07-10 11:40] twitzelbos commented on #583
I would like to dig into this myself a little bit more as well, might be a good exercise to learn the workings of the toolchain some more. I haven't found the detailed documentation yet for each of the steps. I have an older development system that can still compile code the same way this example was compiled.
I'm curious, you say it cannot find the correct stack variables, there is literally thre

[2019-07-10 16:10] arm-in commented on #604
Thank you for your response!
I've been playing around further. It seems that running "doxygen" over the `.exe.c.` is more efficient. The caller graphs are referring to parent, children, etc. Navigation is more gracefully than with one monolithic graph, at least for a project in that size. Still investigating...

[2019-07-11 07:00] s3rvac commented on #530
Closing due to inactivity. If you wish to re-open, please provide the input binary file and the decompilation command that you have used.

[2019-07-11 07:00] #530 closed

[2019-07-11 17:29] arm-in commented on #604
doxygen is just fine, after some adjustments to the doxyfile. Now counting 300MB in 15000 files (html + png), but better than one monolithic graph.

[2019-07-11 17:29] #604 closed

[2019-07-11 23:06] graphitical commented on #381
I had a similar issue. Turned out I didn't have any Python 3 version installed (just 2.7.10).
I installed python 3.7.4 via Homebrew (running OSX 10.14.5) and then tried again.
The install failed with the same error again.

I then found this solution (https://github.com/YosysHQ/nextpnr/issues/214) and removed/renamed my CMakeCache.txt file and this seemed to fix it.

[2019-07-12 04:54] s3rvac commented on #381
@graphitical Thank you for the comment. Yes, if you install Python 3 **after** you have already run `cmake`, you need to remove `CMakeCache.txt` before trying the build again as CMake remembers what it has found the first time it has run.

[2019-07-12 06:00] s3rvac commented on #188
Similarly, we should use a single name for 64b ARM (ARM64 vs AArch64).

[2019-07-14 08:17] twitzelbos commented on #605
I have a similar issue on decompiling a binary. Strangely enough, with the Release build of retdec I get a segmentation fault in LLVM (in the instruction combiner). I made a debug build of retdec, now I get this assert failure instead on the same target binary/command line. Will dig into this some more. I'm using msys2.

[2019-07-14 11:53] metthal opened #612 "Ordinals of PE exports do not start at OrdinalBase which is set in Export Directory Table"
As reported by [PE Format specification](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#export-directory-table), ordinal numbers should start at the number specified by `OrdinalBase` so the ordinal number of the export should be calculated like `OrdinalBase + exports[i].Ordinal`.

This will also change export table hash for certain files. Take as an example `mscoree.dll` for which

[2019-07-14 19:55] dangercrow commented on #595
Any progress on this @PeterMatula ?

[2019-07-15 13:13] ladislav-zezula commented on #612
https://github.com/avast/pelib/pull/10
https://github.com/avast/retdec-regression-tests/pull/34

[2019-07-17 12:30] metthal commented on #612
Thanks for the fix.

[2019-07-19 23:40] twitzelbos opened #613 "extern/yaracpp-project does not compile from cmake in MSYS2"
When compiling the entire retdec package for MSYS2, the yaracpp-project build fails on all my machines with MSYS2.
The error occurs during the configure and looks like aclocal is missing a /c/ in its path:
[code]

Strangely, when I go to external/yaracpp-project-build and manually "make", everything succeeds just fine... I have seen the same configure error happening in other projects on msys2 via

[2019-07-20 02:48] twitzelbos commented on #583
Okay, I have a simple example here that has a ton of these errors on decompile ...

[bios_serial_number.zip](https://github.com/avast/retdec/files/3413183/bios_serial_number.zip)

[2019-07-22 11:28] xkubov commented on #554
Hi. For your output, it seems that RetDec did not detect any standard library function which surely makes an analyzation of the output hard. With the input that you have provided, I might only guess where are functions you are looking for. If I would like to find work with a file in a situation like this when RetDec does not detect almost any info I would use info from disassembler. Because of not

[2019-07-23 00:45] TheElementalOfCreation commented on #554
@xkubov I've sent the original file to your email, but I doubt you'll be able to get much from it. The file has been pretty well stripped.

[2019-07-25 02:07] astrelsky opened #616 "vtable_finder cannot detect vtables for abstract classes"
Was just looking through some things and came across the comment on line 112. I happen to know from doing research to build an gnu rtti analyzer from ghidra and decided to run a quick test.

The issue is due to the following in vtable_finder.cpp line 112:
[code]

Compiling the following will recreate the issue. There is poor naming here, it's a snippit from junk code I was using to figure out how

[2019-07-25 02:11] astrelsky opened #617 "Detection of superClasses for multiple inheritance"
Looking through the json output, it appears that the superclasses are not being detected from instances of __vmi_class_type_info.

This can be recreated with the following diamond inheritance example:

[code]

It yields the following json output:
[code]

The super class for __si_class_type_info appears to be functional.

[2019-07-25 17:43] vidven09 commented on #92
take this example:
$ git pull
error: The following untracked working tree files would be overwritten by merge:
        deps/googletest/CMakeLists.txt
        deps/libdwarf/CMakeLists.txt
        deps/llvm/CMakeLists.txt
Please move or remove them before you can merge.
Aborting

What if I am OK to overwrite one file due to merge but want to retain my version for 2 other files?

[2019-07-26 14:54] ladislav-zezula opened #618 "Detection of RLPack using normalized code bytes"
A variant of RLPack packer exists that can be detected by code sequence. However, to do that, it requires the code to be processed by a code normalizer. Such normalizer would strip all instruction operands and replaced all JUMPS/CALLS by a dummy byte (e.g. 0xCC).

Example of code before normalization:
[code]
The same code after normalization:
[code]

[2019-08-02 21:30] bacher09 opened #620 "Incorrect modulo decompilation (when modulo is optimized by compiler)"
Hi, seems retdec incorrectly decompiles functions with modulo operation.
For example, function like this:

[code]
Decompiled as

[code]

Here's assembly (generated by gcc with `-O2`):
[code]
and LLVM IR:
[code]
As you can see LLVM IR code is incorrect.

I tested both latest master version and latest stable release (v3.3).  This issue isn't unique to gcc and happens with any compiler that optimizes

[2019-08-03 07:47] tannewt commented on #435
I'm interested in this too and was trying to read through the ida plugin to understand how it works. I was trying to edit the json file that is output to correct function signatures but the next run just overwrote it. Is there a way the plugin tells the next pass to trust the info?

I'm happy to help write converters to the json format once it's clear how to get it used by retdec. Thanks!

[2019-08-05 00:48] TheElementalOfCreation commented on #554
@xkubov Please keep me updated on your findings about the program, if any.

[2019-08-07 20:25] metthal opened #621 "Generate hash out of rich header in fileformat"
Rich headers are long in length and we use them frequently. Generating hash out of the unmasked rich header data could be useful to reduce this length. The hash would be generated in the same way as we do it with import table, export table or any other.

Presentation in fileinfo should be also done in this ticket.

[2019-08-10 07:35] mykytak opened #623 "Build inside Docker fails with many "undefined reference to dl" errors"
Got error while building from Dockerfile:

[code]

[2019-08-10 09:56] silverbacknet commented on #623
Those are kernel functions that should always be available. Please add at a minimum your operating system and version, your compiler and version, and what version of retdec you're building.

[2019-08-11 00:34] mykytak commented on #623
@silverbacknet I just copied dockerfile from repo and run it.

With prebuilded package (v3.3), got `.../retdec/bin/retdec-fileinfo: error while loading shared libraries: libcrypto.so.1.1: cannot open shared object file: No such file or directory` error. Which I think is the same error in the end.
Tried to solve by installing libssl-dev (both 64 and 32 bit versions), no luck.

Docker version 18.09.

[2019-08-11 14:14] s3rvac commented on #623
Hi. Thank you for the report!

As for the `dl`-related errors that you get when building via Docker: I have managed to reproduce the issue by following these steps:
[code]
There is a bug in our build system. I will let you know when the bug is fixed.

As for the OpenSSL-related errors that you get with [our 3.3 Ubuntu release](https://github.com/avast/retdec/releases/download/v3.3/retdec-v3.3-ubun

[2019-08-11 15:05] s3rvac commented on #623
There was a missing dependency of OpenSSL on `libdl`. I have submitted a fix in #624. After it is merged, builds via Docker will succeed.

Apart from the above fix, in commit 1fd3328a2705f69922b31e31780378f7ebce7ef6, I have modified `Dockerfile` to install `openssl` and `libssl-dev` from Ubuntu repositories. This will enable RetDec to use them instead of building OpenSSL by itself, which also solv

[2019-08-12 05:19] s3rvac commented on #620
@PeterMatula Can you please take a look?

[2019-08-12 05:20] s3rvac commented on #617
@PeterMatula Can you please take a look?

[2019-08-12 05:20] s3rvac commented on #616
@PeterMatula Can you please take a look?

[2019-08-12 15:11] PeterMatula commented on #623
Merged #624.

Also added 2 new TeamCity configurations `linux-dockerfile-build` and `linux-dockerfile-dev-build` that build `Dockerfile` and `Dockerfile.dev`. Builds are triggered only if relevant files are changed in the `master` branch. This should let us know if Docker files are broken in the future.

[2019-08-12 15:11] #623 closed

[2019-08-12 18:42] astrelsky commented on #616
I put up a repository of the code I use for testing along with a release of binaries for different architectures. It can be found [here](https://github.com/astrelsky/InheritanceTests)

[2019-08-12 20:10] mykytak commented on #623
Thanks @s3rvac ! For quick response and fix and clarifying about OpenSSL version. Docker version works for me now.

[2019-08-18 20:43] dangercrow commented on #595
Any progress on this @PeterMatula ?

This seems like a not uncommon issue - are there plans to mitigate the high memory usage in the future?

[2019-08-19 00:51] silverbacknet commented on #595
@dangercrow, #13 is the primary issue for high memory use. Lots of individual issues linked there, and it's one of those things where each release gets incrementally better, but a massive reduction is unlikely in the near-term.

[2019-08-20 07:37] s3rvac opened #626 "Add a check that a PE digital signature is valid throughout the complete chain"
At present, when given a signed PE file, `retdec-fileinfo` is able to detect whether the actual hash of the file matches the one stored in the file (see `PeFormat::verifySignature()`). It would be useful to also detect whether the digital signature is valid throughout the complete chain, i.e. that the signer is who they claim to be (provided that you trust the root certificate). For example, for f

[2019-08-24 01:41] bmourit opened #627 "MIPS: Support for relocations that pair multiple R_MIPS_LO16 against a single R_MIPS_HI16"
According to https://www.linux-mips.org/pub/linux/mips/doc/ABI/mipsabi.pdf, a R_MIPS_LO16 without a R_MIPS_HI16 (orphaned) should be matched with the previous R_MIPS_HI16. This isn't currently taken into consideration in mips relocation.

This isn't a bug, but rather an enhancement. I think a simple variable to hold the previous value to pair with an orphaned lo16 would be sufficient here. If I ge

[2019-08-25 04:10] karaul0v opened #629 "retdec generate big count of global variables, instead original count of function parameters"
Why retdec can't decompile original count of function parameters and instead this it generate very big count of useless global variables ???
How to prevent this ??

Retdec not restore function names (Example "Ordinal100", etc) and it also does not restore the original number of function parameters(For use in reverse engineering purposes, injecting code and call this function inside running program

[2019-08-25 05:42] Mortrus commented on #13
I have same problem. I'm trying to decompile some.dll (11 Mb), and now I stuck for 20 hours at this step with enormous memory consumption:
![Безымянный](https://user-images.githubusercontent.com/42960438/63646038-f2f2d600-c72c-11e9-9fdf-1177609c2dc2.png)

Decompilation settings are all default. Just set no memory limit. -_-

[2019-08-25 05:53] s3rvac commented on #629
Closing because of trolling (a known troll going by the name Karaulov):

[2019-08-25 05:53] #629 closed

[2019-08-25 07:07] sw4t0vz2umqg commented on #629
https://github.com/avast/retdec/issues/13
https://github.com/avast/retdec/issues/13#issuecomment-351681233
https://github.com/avast/retdec/issues/13#issuecomment-524602355 (290 GB RAM USAGE)

[2019-08-26 15:48] vipeg opened #631 "FATAL ERROR! Conflict with IDA!"
This decompiler conflict with IDA, IDA need 2.7 python, RETDEC need non 2.7 python....
Please add support python 2.7 version :(

[2019-08-27 02:56] lodajimof opened #632 "FATAL ERROR! PC got in sleep mode!"
I have activated sleep mode after 1 hour of inactivity.
Good programs keep computer awake, but RETDEC with FATAL ERROR and lets the computer fall asleep!
Please add PREVENT SLEEP feature to RETDEC!

[2019-08-28 05:55] s3rvac commented on #632
I have changed the title as I do not see how this is a fatal error. Thank you for the enhancement request though. I assume that your operating system is Windows, right?

[2019-08-28 14:16] erorcun opened #633 "Unsuccessful MIPS decompilation"
Hi, I've just discovered the tool and wanted to test it with some MIPS executable I have, but it seems decompilation being cut at some opcode (output is only ~5 lines) but the tool acts as it decompiled the whole function, without any error messages.

I've tried it within IDA and without it, but always with --select-decode-only and --select-range options. Also tried to shrink function end address

[2019-08-31 03:55] TheElementalOfCreation opened #634 "__asm_int(128) Appearing in my Output."
I'm trying to do something a bit weird with the output program, and I need to compile it with some extra code. Unfortunately, I ended up finding the line `__asm_int(128);` in my code, but my compiler does not recognize it. I've tried to figure out how to fix it on my own but have had no luck. Can you help me adjust the output to make it compile?

[2019-08-31 08:46] silverbacknet commented on #634
What compiler, platform, toolchain version, etc? What extra code? The only place I know of offhand that uses asm_int(128), which might be transformed into __asm_int(128), is nanojit.

[2019-08-31 22:42] TheElementalOfCreation commented on #634
This is the file I decompiled that gave me that instruction. The extra code I'm using is not where the problem comes in, and should not matter. I haven't been able to get any of my compilers (visual studio after doing some conversions to c++) or gcc to recognize the instruction.

[lib__72f7__.zip](https://github.com/avast/retdec/files/3562906/lib__72f7__.zip)

[2019-09-01 03:07] silverbacknet commented on #634
OK, LLVM isn't recognizing a syscall for some reason. Disassembly:

[code]

Decompilation:

[code]

LL:

[code]

[2019-09-01 09:04] TheElementalOfCreation commented on #634
@silverbacknet I probablly should have mentioned I figured that much out myself in my attempts to fix it. Any ideas on what I can do to correct this myself?

[2019-09-02 06:10] auxiliaryjoel commented on #92
I'm having this same problem, I tried:
`git stash`
`git stash drop`
`git pull origin master`
but it still results in the same warning:
error: The following untracked working tree files would be overwritten by merge:
	web/themes/contrib/bootstrap_barrio/css/components/progress.css
	web/themes/contrib/bootstrap_barrio/js/toast.js
	web/themes/contrib/bootstrap_barrio/scripts/create_subtheme.sh
	web/t

[2019-09-02 06:13] s3rvac commented on #92
@auxiliaryjoel I think that you are in the wrong project (we have never had any of the mentioned files in our repository). Are you sure that you are in a RetDec repository?

[2019-09-02 06:17] auxiliaryjoel commented on #92
@s3rvac oh sorry for confusion I noticed the last person to comment on this was having the same problem (different files but the same problem). I was wondering if @vidven09 was able to resolve their issue. If they have, I think what worked for them may answer my issue?

[2019-09-02 11:44] erorcun commented on #633
Why no team member replies to me?!

[2019-09-02 11:52] xkubov opened #635 "Config JSON: provide support for type declaration in C style."
Users can use the `--config` argument to specify extra info to RetDec use and provide a path to the config file with some extra info. Right now users can provide a type of the objects only in LLVM IR syntax. As RetDec can be easily integrated with other tools we should add more options to provide type info, for example, C syntax which could come handy as some tools export data types in this syntax

[2019-09-02 12:00] pfalcon commented on #633
You may help the team by including number of your paid support contract, they must have forgotten it ;-)

[2019-09-02 14:49] xkubov commented on #633
Hi @erorcun. Sorry for the inconvenience. You can send the binary file privately to my email address (xkubov@gmail.com) and I (or someone from the team) will take a look at your issue.

[2019-09-04 09:24] seviezhou opened #636 "Issue about Globalvariable names"
I use bin2llvmir to translate an ELF file and I get Globalvariables look like:

[code]

They have numbers in the terminal, it is because these Globalvariables are create in same names more than once. After looking into `bin2llvmir/utils/ir_modifier.cpp` file, I think I can add a single line of code and solve this problem. In function `IrModifier::getGlobalVariable` , and add a new piece of code af

[2019-09-04 09:38] s3rvac commented on #636
Hi! The current and new outputs look identical (see the two red rectangles below). Could you please verify that the new output is correct?

**Screenshot:**
![diff](https://user-images.githubusercontent.com/5675953/64243826-48d33500-cf08-11e9-840e-29667fd01b3b.png)

[2019-09-04 09:44] seviezhou commented on #636
My mistake, I wrongly paste the original output, the new is here:

[code]

[2019-09-04 11:02] s3rvac commented on #636
Thank you. @PeterMatula, what do you think about this?

[2019-09-04 12:18] seviezhou opened #637 "Bug in bin2llvmir Decoder"
I try to translate the following PE file:

[pe-Windows-x86-cmd.zip](https://github.com/avast/retdec/files/3574397/pe-Windows-x86-cmd.zip)

But in the decoder phase, the retdec just gets an error and exits:

<img width="1172" alt="屏幕快照 2019-09-04 19 57 03" src="https://user-images.githubusercontent.com/15180789/64253054-02ed8f80-cf4f-11e9-838d-b206bbd673ab.png">

The problem is in file `src/bin2llv

[2019-09-04 12:37] xkubov commented on #633
Hi, I've received your file and looked into the issue. After I've run `retdec-decompiler.py` with the provided file, decompilation failed in debug mode on following assertion:
[code]

I've debugged the source of this issue and managed to find a bug in translating module `capstone2llvmir`. Specifically, a bug in the work with MSA (MIPS SIMD arch.) registers during LLVM IR creation.

**Little intro:

[2019-09-04 15:17] seviezhou opened #638 "Bug in bin2llvmir Decoder"
Deocde the following ELF file:

[elf-Linux-x64-bash.zip](https://github.com/avast/retdec/files/3575179/elf-Linux-x64-bash.zip)

We get a strange function:

[code]

The problem is, if the jump target is IMPORT Type, we shouldn't decode it, if the data accidently be meaningful code, We may get the following result:

[code]

The data in `0x6d94a0` is (IDA view):

[code]

Although `__strtol_internal`

[2019-09-04 19:07] erorcun commented on #633
Awesome! Thanks for the description and quick fix!

[2019-09-06 03:53] TheElementalOfCreation commented on #634
Okay, looking thoroughly through the code, it seems the reason this happens is because that function is what all the other functions use to make different syscalls. From what I can tell there are 7 different sys calls being made:
[code]
This seems like it might be the reason that was left.
HOWEVER, I have another program I decompiled that did the exact same thing, but the `__asm_int(128)` was miss

[2019-09-06 05:14] s3rvac commented on #634
@PeterMatula pr @xkubov, could you please take a look?

[2019-09-06 15:34] Masrepus opened #639 "Mach-O arm64 support missing"
As we just discussed at r2con, here is my issue:

I need to lift iOS apps to llvm. For this, I would like to try retdec, by using the `retdec-decompiler.py --stop-after bin2llvmir` command. Unfortunately, iOS apps are arm64 Mach-O files, and this combination of file format and architecture is currently not supported by retdec.

You told me, that arm64 support is actually present (but probably only

[2019-09-06 15:50] metthal commented on #639
Thanks for filing the issue. Could you also provide us with some sample files so we can try and confirm that it is indeed not working? We would also have something to test retdec against because I don't think we have any iOS apps. You can send them to marek.milkovic@avast.com if you don't want to share them publicly.

[2019-09-06 16:02] Masrepus commented on #639
Ah right, here you have the one I tried before. At the moment I don't have access to more binaries, but I can send you some more later, if you need.
[CrackMe.zip](https://github.com/avast/retdec/files/3584711/CrackMe.zip)

[2019-09-06 18:29] TheElementalOfCreation commented on #634
Also, apparently this file is a JNI native library. So you use `System.loadLibrary` with it in Java and can then use the native functions in your Java program.

[2019-09-08 05:57] s3rvac opened #640 "Make fileinfo recognize UTF-8, UTF-16, and UTF-32 strings and emit output in UTF-8"
At present, `retdec-fileinfo` emits output encoded in ASCII. When it encounters characters that are not ASCII, it escapes them (e.g. `\xd0\x9e` instead of UTF-16-encoded `О`). We should consider making `retdec-fileinfo` recognize UTF-8, UTF-16, and UTF-32 strings and emit output in UTF-8 (i.e. transcode such encodings into UTF-8 so it can emit output in a single, pre-defined encoding).

I have sel

[2019-09-09 05:31] s3rvac commented on #640
To verify:
[code]
The `®` symbol is encoded in UTF-16le, but the rest of the string is ASCII. This is strange. It seems as if the original string is stored in UTF-16, but `retdec-fileinfo` does some magic to print ASCII characters as-is and only escape non-ASCII values.

[2019-09-09 13:51] xkubov commented on #639
Hi, tried to decompile the file that you have provided and decompilation was successful.
I've tried to decompile provided file on current master (`63f03e79`) and got the following output:
[CrackMe-out-63f03e79.zip](https://github.com/avast/retdec/files/3590810/CrackMe-out-63f03e79.zip)

Is it possible that you have used some old version of RetDec?

[2019-09-09 13:56] Masrepus commented on #639
Ah I used v3.3 from the releases page. Didn't see that there have been >300 commits since then...
Anyway thank you for your help!

[2019-09-09 13:56] #639 closed

[2019-09-09 14:31] xkubov commented on #636
Hi, I've tried the change in `ir_modifier.cpp` suggested by @seviezhou and all regression tests will pass. Furthermore, I've looked into decompilation output of some regression tests and decompilation seems to be improved because now in some cases the C code output includes comments about the address of a global variable.

For example you can see the code taken from decompilation of [bashbot sampl

[2019-09-09 15:47] xkubov commented on #638
Hi, I tried to decompile the file you have provided and with your fix I've managed to get the same results.

In this case, RetDec decompiles functions that should not be included in the output after the decoder phase. Those functions are eliminated during decompilation but few artifacts stay present.

Here is a diff of LLVM code after decoding phase (before and after the patch):
[diff.txt](https:/

[2019-09-09 15:52] xkubov commented on #637
Hi, thank you for the report. Indeed it looks like an issue as the boundaries are not checked in those parts of the code. You can open a pull request to fix this issue.

[2019-09-10 06:53] s3rvac opened #644 "A unit test from Capstone2LlvmIrTranslatorArm64Tests sometimes unexpectedly fails"
The following unit test sometimes unexpectedly fails (see e.g. [this TC build](https://retdec-tc.avast.com/viewLog.html?buildId=2875&tab=buildLog&buildTypeId=Retdec_MacBuild&logTab=tree&filter=all&_focus=6821)):
[code]
It seems that these failures are caused by nondeterminism, either in our code, or in Capostone/LLVM.

[2019-09-10 09:49] PeterMatula commented on #636
Looks ok. Will you open a Pull Request, or should we do the change? No problem either way.

[2019-09-10 10:00] PeterMatula commented on #638
Thanks for the report, this is an issue that should be fixed. I will look into your solution in #642 and decide if it is enough, or we should do some more things. This might require a more robust solution.

[2019-09-10 13:31] PeterMatula commented on #637
* Fixed by #641.
* Added `CHANGELOG.md` entry in a894749.
* Since this was not a decompilation quality bug, but a crash bug, I added the binary to the internal nightly tests suite that checks that RetDec does not crash.

[2019-09-10 13:31] #637 closed

[2019-09-10 21:11] subhashreeradhakrishnan commented on #92
$ git add *
$ git stash
$ git pull origin tlt/{branch_name}

You will lose the local changes however.

[2019-09-10 23:48] auxiliaryjoel commented on #92
oh ok so the :
$ git add *
I would do on the remote server that I'm intending to git pull to?